<div class="page_info">
    <div class="page_top">
        <p class="userName">Ivan Loichuk</p>
        <p class="isOnline">online</p>
    </div>
    <div class="separator"></div>
    <div class="profile_info">
        <div class="profile_info_row">
            <div class="label_info">City:</div>
            <div class="value">Rivne Rivnenska oblast</div>
            <div class="edit_user_info">
                <a href="edit" id="link_edit_icon" title="Edit profile"><img src="/app/img/edit_icon_gray.png" id="edit_icon" alt="Edit profile" title="Edit profile"></a>
            </div>
        </div>
        <div class="profile_info_row">
            <div class="label_info">Education:</div>
            <div class="value">Lublin University of Technology</div>
        </div>
        <div class="profile_info_row">
            <div class="label_info">Work:</div>
            <div class="value">Example</div>
        </div>
        <div class="profile_info_row">
            <div class="label_info">Age:</div>
            <div class="value">19 years old</div>
        </div>
        <div class="profile_info_row">
            <div class="label_info">Programing languages:</div>
            <div class="value">Java, C++.</div>
        </div>
    </div>
</div>