<section class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5 custom-col-filter">
                <div class="search-filter">
                    <div class="header">Search parameters</div>
                    <form action="" method="POST" [formGroup]="searchForm"  >
                        <div class="city_group">
                            <input type="text" class="form-control" placeholder="Enter a city" formControlName="city" (keyup.enter)="getUsersData(searchForm.value)">
                        </div>

                        <div class="age_group">
                            <label>Age</label>
                            <div>
                                <select  formControlName="ageFrom" (ngModelChange)="getUsersData(searchForm.value)" id="age_from"  class="chosen-select" data-placeholder="from" #choseAgeFrom>
                                    <option value="" selected>From</option>
                                    <option *ngFor="let ageValue of ageValues" value="{{ageValue}}">{{ageValue}}</option>
                                </select>
                                <select formControlName="ageTo" (ngModelChange)="getUsersData(searchForm.value)" id="age_to" class="chosen-select" data-placeholder="to" #choseAgeTo>
                                    <option value="" selected>To</option>
                                    <option *ngFor="let ageValue of ageValues" value="{{ageValue}}">{{ageValue}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="sex_group">
                            <label for="gender_form">Gender</label>
                            <select formControlName="gender" (change)="getUsersData(searchForm.value)" ngModel name="gender" id="gender_form">
                                <option value="" selected>Any</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>
                        <div class="online_group">
                            <input type="checkbox" (change)="getUsersData(searchForm.value)" formControlName="isOnline" id="online_now">
                            <label for="online_now">online now</label>
                        </div>
                        <div id="lang_select">
                            <select formControlName="programmingLanguages" (ngModelChange)="getUsersData(searchForm.value)" id="prg_lang" size="1" class="chosen-select" data-placeholder="Choose language" #choseLang>
                                <option value="" selected>Any</option>
                                <option value="Java">Java</option>
                                <option value="C++">C++</option>
                                <option value="PHP">PHP</option>
                                <option value="JavaScript">JavaScript</option>
                            </select>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-7 custom-col-results">
                <div class="search-form">
                    <div class="menu" id="">
                        <ul id="search_menu">
                            <li><a href="#" class="active">Friends</a></li>
                            <!-- <li><a href="#">Groups</a></li> -->
                        </ul>
                    </div>
                    <form  [formGroup]="searchForm" (ngSubmit)="getUsersData(searchForm.value)">
                        <input  formControlName="fullName" type="text" class="form-control" [(ngModel)]="fullname" name="fullname" placeholder="Search">
                    </form>
                </div>

                <div class="search-results">
                    <ul>
                        <li class="header"><p>Search results</p></li>
                        <li class="main_content">
                            <ul>
                                <li class="content_box" *ngFor="let data of searchData">
                                    <table>
                                        <tr>
                                            <td class="img_block" rowspan="3"><a href="#" class="img"><img src="{{data.cropImage}}" alt=""></a></td>
                                            <td class="info_block" rowspan="3">
                                                <a href="#" class="title"><span>{{data.firstName}}  {{data.lastName}}</span></a>
                                                <span class="town">{{data.city}}</span>
                                                <span class="work">{{data.work}}</span>
                                            </td>
                                            <td class="add_button" rowspan="3">
                                                <input type="button" class="btn btn-default" value="Add to friends">
                                                <a href="#"><span>{{data.friendsCount}} mutual friends</span></a>
                                            </td>
                                            <td class="gallery_block"><a href="">
                                                <div class="small_gallery">
                                                    <img src="/app/img/Ivan_Loichuk_bg.jpg" alt="">
                                                    <img src="/app/img/Ivan_Loichuk_bg.jpg" alt="">
                                                    <img src="/app/img/Ivan_Loichuk_bg.jpg" alt="">
                                                    <img src="/app/img/Ivan_Loichuk_bg.jpg" alt="">
                                                </div>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td class="gallery_link"><a href=""><span>All photo</span></a></td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>