<section class="forum-list">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 custom-col-posts">
                <div class="forum_top">
                    <div class="forum_title">
                        <p class="title" translate>FORUM_LIST.allQuestions</p>
                        <div class="ask_button">
                            <button type="button"  class="btn btn-default" (click)="createPost.open()" translate>FORUM_LIST.askQuestions</button>
                        </div>
                    </div>
                    <form>
                        <input type="text" class="form-control" placeholder="{{'FORUM_LIST.search' | translate}}">
                    </form>
                </div>
                <div class="forum">
                    <div class="forum_content">
                        <div *ngFor="let question of questions" class="post_block">
                            <div class="top">
                                <div class="related_tags">
                                    <span *ngFor="let tag of question.tags">{{tag.title}}</span>
                                </div>
                                <div class="modified_date">
                                    <p>{{question.createdAt | date:'MMMM dd, HH:mm'}}</p>
                                </div>
                            </div>
                            <div class="post_title">
                                <a [routerLink]="['/forum/post/', question.id]"><p>{{question.title}}</p></a>
                            </div>
                            <div class="bottom">
                                <div class="autor">
                                    <span class="autor_label" translate>FORUM_LIST.author</span>
                                    <span class="autor_name">{{question.authorName}}</span>
                                </div>
                                <div class="social_module">
                                    <div class="likesEntities">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true" (click)="createLike(question)"></span>
                                        <p>{{ question.likes.length }}</p>
                                    </div>
                                    <div class="comments">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <p>52</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 custom-col-navigation">
                <related-tags-block></related-tags-block>
                <last-activity-block></last-activity-block>
            </div>

            <!-- Create a post modal windows -->
            <div class="row">
                <modal #createPost modalClass="modal-lg" id="createPostModal" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                    <modal-header>
                        <h2 translate>FORUM_LIST.askYourQuestions</h2>
                    </modal-header>
                    <modal-content>
                        <div class="form_group">
                            <label for="post_title" translate>FORUM_LIST.title</label>
                            <input type="text" id="post_title" class="post_title form-control" placeholder="{{'FORUM_LIST.title' | translate}}" [(ngModel)]="editedQuestion.title">
                        </div>
                        <div class="form_group">
                            <label for="createPost" translate>FORUM_LIST.description</label>
                            <textarea name="createPost" id="createPost" class="form-control" cols="100" rows="5" placeholder="{{'FORUM_LIST.enterText' | translate}}" [(ngModel)]="editedQuestion.description"></textarea>
                        </div>
                        <div class="form_group">
                            <label translate>FORUM_LIST.relatedTags</label>
                            <ss-multiselect-dropdown [options]="tags" [(ngModel)]="editedQuestion.tags" [settings]="msSettings"></ss-multiselect-dropdown>
                        </div>
                        <div class="post_attachment" style="display: none;">
                            <div class="upload_image">
                                <img src="app/img/TEEN.jpg" alt="">
                                <div class="trash_button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="files">
                                <div class="code_group">
                                    <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                    <span>filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <div class="upload_components">
                            <i class="fa fa-file-code-o"></i>
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </div>

                        <div class="buttons_section">
                            <input type="reset" class="submit" value="{{'FORUM_LIST.cancel' | translate}}" (click)="createPost.close()">
                            <input type="submit" class="submit" value="{{'FORUM_LIST.create' | translate}}" (click)="createQuestion(); createPost.close()">
                        </div>
                    </modal-footer>
                </modal>
            </div>
        </div>
    </div>
</section>
