<section class="messages">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-6 custom-col-friends-list">
                <div class="friends-list">
                    <div class="search-friends">
                        <button type="button" (click)="newConversationModal.open()" class="modal-trigger btn btn-default">New conversation</button>
                        <form>
                            <input type="text" class="form-control" placeholder="Search">
                        </form>
                    </div>
                    <div class="list-container">
                        <div class="scroll" [ngStyle]="{'max-height': (screenHeight+'px')}" >
                            <ul>
                                <li *ngFor="let chat of chats" (click)="selectChat(chat)" [ngClass]="activeChat == chat.id ? 'active': ''">
                                    <div class="user-img">
                                        <div class="circle" [style.background-image]="'url(' + (chat.cropImg ? '/api/profile/image/get/' + chat.cropImg : '/app/img/default_user_photo.jpg') + ')'"></div>
                                    </div>

                                    <div class="content">
                                        <p class="username">{{ chat.name }}</p>
                                        <span>
                                            <img height="25" width="25" [src]="chat.lastMessageSenderPhoto ? '/api/profile/image/get/' + chat.lastMessageSenderPhoto : '/app/img/default_user_photo.jpg'" alt="" />
                                            {{chat.lastMessage.length > 15? chat.lastMessage.substring(0, 15)+'...' : chat.lastMessage}}
                                        </span>
                                    </div>
                                    <div class="last-modify">
                                        <p>{{ chat.lastAction | date:'dd.MM' }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- Modal view new conversation -->
                <div class="row">
                    <modal #newConversationModal modalClass="modal-md" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                        <modal-header>
                            <h2>Add new conversation</h2>
                        </modal-header>
                        <modal-content>
                            <form>
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                            <div class="list-friends">
                                <div class="scroll">
                                    <ul (click)="newConversationModal.close()">
                                        <li *ngFor="let friend of friends" (click)="createChat(friend.id)">
                                            <div class="user-img">
                                                <div class="circle" [style.background-image]="'url(' + (friend.cropImage ? '/api/profile/image/get/' + friend.cropImage : '/app/img/default_user_photo.jpg') + ')'"></div>
                                            </div>

                                            <div class="content">
                                                <p class="username">{{ friend.firstName }} {{ friend.lastName }}</p>
                                            </div>
                                            <div class="isOnline">
                                                <p>online</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </modal-content>
                        <modal-footer>

                        </modal-footer>
                    </modal>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6 custom-col-messages-block" *ngIf="selectedChat !== undefined">
                <div class="messages-block">
                    <div class="message_header">
                        <div class="username">
                          <a (click)="gotoProfile(selectedChat.participantId)"><p>{{ selectedChat.name }}</p></a>
                        </div>
                        <div class="isOnline">
                            <p>online</p>
                        </div>
                    </div>
                    <div class="message_body" [ngStyle]="{'min-height':  (screenHeight-8+'px')}" >
                        <div class="scroll" id="scroll" #scroll>
                            <div class="message_content" *ngFor="let message of messages">
                                <div class="user-img" [style.float]="getMessageFloat(message.senderId)">
                                    <a (click)="gotoProfile(message.senderId)">
                                      <div
                                        class="circle"
                                        [style.background-image]="'url(' + (selectedChat.participantsCroppedImage[message.senderId] ? '/api/profile/image/get/' + selectedChat.participantsCroppedImage[message.senderId] : '/app/img/default_user_photo.jpg') + ')'">
                                      </div>
                                    </a>
                                    <p>{{ message.createdAt | date:'HH:mm' }}</p>
                                </div>
                                <div class="mess-text" [style.float]="getMessageFloat(message.senderId)">
                                    <p>{{ message.content }} </p>
                                  <div *ngFor="let attachment of message.attachments">
                                    <div class="mess-image" *ngIf="attachment.type === 'IMAGE'" [style.float]="getMessageFloat(message.senderId)">
                                      <p>
                                        <a href="/app/img/TEEN.jpg" data-lightbox="image" data-title="My caption">
                                          <img class="ui bordered small image" src="/app/img/TEEN.jpg">
                                        </a>
                                      </p>
                                    </div>

                                    <div class="mess-file" *ngIf="attachment.type === 'FILE'"  [style.float]="getMessageFloat(message.senderId)">
                                      <a href="/api/chats/file/{{attachment.token}}/{{attachment.originalFilename}}">
                                        <div class="file-img">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </div>
                                        <div class="content">
                                          <p class="filename">{{ attachment.originalFilename }}</p>
                                        </div>
                                      </a>
                                    </div>

                                    <div class="mess-file" *ngIf="attachment.type === 'CODE' && attachment.code != null"  [style.float]="getMessageFloat(message.senderId)">
                                      <a (click)="viewAttachment(attachment); codeView.open()">
                                          <div class="file-img">
                                            <i class="fa fa-file-code-o fa-4x" aria-hidden="true"></i>
                                          </div>
                                          <div class="content">
                                              <p class="filename"></p>
                                          </div>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-text">
                            <div class="upload_files">
                                <div class="attachment_info" *ngIf="isUploadCode">
                                    <i class="fa fa-file-code-o" ></i>
                                    <div class="trash_button">
                                        <i class="fa fa-times" aria-hidden="true" (click)="deleteCode()"></i>
                                    </div>
                                </div>
                                <div *ngFor="let file of files" class="attachment_info">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                    <span class="filename">{{file.name}}</span>
                                    <div class="trash_button">
                                        <i class="fa fa-times" aria-hidden="true" (click)="deleteFile(file)"></i>
                                    </div>
                                </div>
                                <div class="attachment_info" *ngIf="isUploadPhoto">
                                    <i class="fa fa-picture-o" aria-hidden="true" *ngIf="isUploadPhoto"></i>
                                    <div class="trash_button">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <form #fromCreateMessage="ngForm" (ngSubmit)="$event.preventDefault(); createMessage(fromCreateMessage.value); fromCreateMessage.reset()">
                                <input type="text" class="form-control" placeholder="Enter your message" name="content" ngModel #content="ngModel" maxlength="1024">
                                <ul class="upload_item">
                                    <li><i class="fa fa-code fa-lg" (click)="codeUpload.open()"></i></li>
                                    <li> <span class="glyphicon glyphicon-picture" (click)="OpenFileExplorer('imgupload')" aria-hidden="true"></span></li>
                                    <li><span class="glyphicon glyphicon-file" (click)="fileUpload.open()" aria-hidden="true"></span></li>
                                </ul>
                                <input type="file" id="imgupload" style=" display:none"/>
                                <input  type="submit" class="form-control" value="Send">
                            </form>
                        </div>

                        <!-- Modal windows -->
                        <div class="row">
                          <modal #codeView modalClass="modal-lg" id="codeViewModal" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                            <modal-header>
                              <h2 *ngIf="codeView.isOpened">{{presentedAttachment.language}} code</h2>
                            </modal-header>
                            <modal-content>
                              <!--<label>Your code</label>-->
                              <ngx-monaco-editor *ngIf="codeView.isOpened" [options]="viewOptions" style="height: 70%"></ngx-monaco-editor>
                              <label for="code_comment">Comment</label>
                              <p *ngIf="codeView.isOpened">{{presentedAttachment.comment}}</p>
                            </modal-content>
                            <modal-footer>
                              <div class="buttons_section">
                                <input type="reset" class="submit" value="Ok" (click)="codeView.close()">
                              </div>
                            </modal-footer>
                          </modal>
                        </div>

                        <div class="row">
                            <modal #codeUpload modalClass="modal-lg" id="codeModal" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                                <modal-header>
                                    <h2>Create Snippet</h2>
                                </modal-header>
                                <modal-content>
                                  <select class="prgLang" [(ngModel)]="editedCodeBeforeSend.language" (change)="languageSelect($event.target.value)">
                                    <option disabled hidden value="">Choose a programming language</option>
                                    <option value="Java">Java</option>
                                    <option value="JavaScript">JavaScript</option>
                                    <option value="HTML">HTML</option>
                                    <option value="CSS">CSS</option>
                                  </select>
                                  <label>Your code</label>
                                  <ngx-monaco-editor *ngIf="codeUpload.isOpened && !!editorOptions.language" [options]="editorOptions" [(ngModel)]="editedCodeBeforeSend.code" style="height: 50%"></ngx-monaco-editor>
                                  <p *ngIf="!editorOptions.language ">Select programming language</p>
                                  <label for="code_comment">Comment</label>
                                  <textarea name="code_comment" id="code_comment" cols="100" rows="5" [(ngModel)]="editedCodeBeforeSend.comment"></textarea>
                                </modal-content>
                                <modal-footer>
                                    <div class="buttons_section">
                                        <input type="reset" class="cancel" value="Cancel" (click)="clearCodeAttachment(); codeUpload.close()">
                                        <input type="submit" class="submit" value="Save" (click)="saveCodeSnippet(); codeUpload.close()">
                                    </div>
                                </modal-footer>
                            </modal>
                        </div>

                        <div class="row">
                            <modal #fileUpload modalClass="modal-md" id="fileModal" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                                <modal-header>
                                    <h2>Your files</h2>
                                </modal-header>
                                <modal-content>
                                    <form action="">
                                        <button type="button"  (click)="OpenFileExplorer('fileupload')" class="modal-trigger btn btn-default" translate>Upload new file</button>
                                        <input type="file" id="fileupload" style="display:none" (change)="selectFile(); fileUpload.close()" [multiple]="true" #fileInput/>
                                    </form>
                                    <div class="scroll" [ngStyle]="{'max-height': screenHeight}">
                                        <ul>
                                            <li>
                                                <div class="file-img">
                                                    <div [style.background-image]="'url(/app/img/file_icons/default_document.png)'"></div>
                                                </div>
                                                <div class="content">
                                                    <p class="username">file name</p>
                                                </div>
                                                <div class="upload_date">
                                                    <p>2017/25/10</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="file-img">
                                                    <div [style.background-image]="'url(/app/img/file_icons/bin_document.png)'"></div>
                                                </div>
                                                <div class="content">
                                                    <p class="username">file name</p>
                                                </div>
                                                <div class="upload_date">
                                                    <p>2017/25/10</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="file-img">
                                                    <div [style.background-image]="'url(/app/img/file_icons/c_document.png)'"></div>
                                                </div>
                                                <div class="content">
                                                    <p class="username">file name</p>
                                                </div>
                                                <div class="upload_date">
                                                    <p>date</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="file-img">
                                                    <div [style.background-image]="'url(/app/img/file_icons/java_document.png)'"></div>
                                                </div>
                                                <div class="content">
                                                    <p class="username">file name</p>
                                                </div>
                                                <div class="upload_date">
                                                    <p>2017/25/10</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="file-img">
                                                    <div [style.background-image]="'url(/app/img/file_icons/html_document.png)'"></div>
                                                </div>
                                                <div class="content">
                                                    <p class="username">file name</p>
                                                </div>
                                                <div class="upload_date">
                                                    <p>2017/25/10</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="file-img">
                                                    <div [style.background-image]="'url(/app/img/file_icons/css_document.png)'"></div>
                                                </div>
                                                <div class="content">
                                                    <p class="username">file name</p>
                                                </div>
                                                <div class="upload_date">
                                                    <p>2017/25/10</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="file-img">
                                                    <div [style.background-image]="'url(/app/img/file_icons/sql_document.png)'"></div>
                                                </div>
                                                <div class="content">
                                                    <p class="username">file name</p>
                                                </div>
                                                <div class="upload_date">
                                                    <p>2017/25/10</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </modal-content>
                                <modal-footer>
                                    <div class="buttons_section">
                                        <input type="reset" class="cancel" value="Cancel" (click)="fileUpload.close()">
                                        <input type="submit" class="submit" value="Create Snippet">
                                    </div>
                                </modal-footer>
                            </modal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
