<section class="messages">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-6 custom-col-friends-list">
                <div class="friends-list">
                    <div class="search-friends">
                        <button type="button"  (click)="newConversationModal.open()" class="modal-trigger btn btn-default">New conversation</button>
                        <form>
                            <input type="text" class="form-control" placeholder="Search">
                        </form>
                    </div>
                    <!-- Modal view new conversation -->
                    <div class="row">
                        <modal #newConversationModal modalClass="modal-md" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                            <modal-header>
                                <h2>Add new conversation</h2>
                            </modal-header>
                            <modal-content>
                                <form>
                                    <input type="text" class="form-control" placeholder="Search">
                                </form>
                                <div class="list-friends">
                                    <div class="scroll">
                                        <ul>
                                            <li *ngFor="let friend of friends" (click)="createChat(friend.id)">
                                                <div class="user-img">
                                                    <div class="circle" [style.background-image]="'url(' + (friend.cropImage ? '/api/profile/image/get/' + friend.cropImage : '/app/img/default_user_photo.jpg') + ')'"></div>
                                                </div>

                                                <div class="content">
                                                    <p class="username">{{ friend.firstName }} {{ friend.lastName }}</p>
                                                </div>
                                                <div class="isOnline">
                                                    <p>online</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </modal-content>
                            <modal-footer>

                            </modal-footer>
                        </modal>
                    </div>
                    <div class="list-container">
                        <div class="scroll">
                            <ul>
                                <li *ngFor="let chat of chats" (click)="selectChat(chat)">
                                    <div class="user-img">
                                        <div class="circle" [style.background-image]="'url(' + (chat.cropImg ? '/api/profile/image/get/' + chat.cropImg : '/app/img/default_user_photo.jpg') + ')'"></div>
                                    </div>

                                    <div class="content">
                                        <p class="username">{{ chat.name }}</p>
                                        <p class="last-message">Last message.......</p>
                                    </div>
                                    <div class="last-modify">
                                        <p>{{ chat.lastAction | date:'dd.MM' }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6 custom-col-messages-block" *ngIf="selectedChat !== undefined">
                <div class="messages-block">
                    <div class="message_header">
                        <div class="username">
                            <p>{{ selectedChat.name }}</p>
                        </div>
                        <div class="isOnline">
                            <p>online</p>
                        </div>
                    </div>
                    <div class="message_body">
                        <div class="scroll">
                            <div class="message_content" *ngFor="let message of messages">
                                <div class="user-img" [style.float]="getMessageFloat(message.senderId)">
                                    <a><div class="circle" style="background-image: url(/app/img/Ivan_Loichuk_bg200x200.jpg);"></div></a>
                                    <p>{{ message.createdAt | date:'HH:mm' }}</p>
                                </div>
                                <div class="mess-text" [style.float]="getMessageFloat(message.senderId)">
                                    <p>{{ message.content }} </p>
                                </div>
                            </div>
                        </div>

                        <div class="input-text">
                            <form #fromCreateMessage="ngForm" (ngSubmit)="createMessage(fromCreateMessage.value); fromCreateMessage.reset()">
                                <input type="text" class="form-control" placeholder="Enter your message" name="content" ngModel #content="ngModel">
                                <input  type="submit" class="form-control" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
