<section class="messages">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-6 custom-col-friends-list">
                <div class="friends-list">
                    <div class="search-friends">
                        <button type="button"  (click)="newConversationModal.open()" class="modal-trigger btn btn-default">New conversation</button>
                        <form>
                            <input type="text" class="form-control" placeholder="Search">
                        </form>
                    </div>
                    <!-- Modal view new conversation -->
                    <div class="row">
                        <modal #newConversationModal modalClass="modal-md" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                            <modal-header>
                                <h2>Add new conversation</h2>
                            </modal-header>
                            <modal-content>
                                <form>
                                    <input type="text" class="form-control" placeholder="Search">
                                </form>
                                <div class="list-friends">
                                    <div class="scroll">
                                        <ul>
                                            <li *ngFor="let friend of friends" (click)="createChat(friend.id)">
                                                <div class="user-img">
                                                    <div class="circle" [style.background-image]="'url(' + (friend.cropImage ? '/api/profile/image/get/' + friend.cropImage : '/app/img/default_user_photo.jpg') + ')'"></div>
                                                </div>

                                                <div class="content">
                                                    <p class="username">{{ friend.firstName }} {{ friend.lastName }}</p>
                                                </div>
                                                <div class="isOnline">
                                                    <p>online</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </modal-content>
                            <modal-footer>

                            </modal-footer>
                        </modal>
                    </div>
                    <div class="list-container">
                        <div class="scroll">
                            <ul>
                                <li *ngFor="let chat of chats" (click)="selectChat(chat)">
                                    <div class="user-img">
                                        <div class="circle" [style.background-image]="'url(' + (chat.cropImg ? '/api/profile/image/get/' + chat.cropImg : '/app/img/default_user_photo.jpg') + ')'"></div>
                                    </div>

                                    <div class="content">
                                        <p class="username">{{ chat.name }}</p>
                                        <p class="last-message">Last message.......</p>
                                    </div>
                                    <div class="last-modify">
                                        <p>{{ chat.lastAction | date:'dd.MM' }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-6 custom-col-messages-block" *ngIf="selectedChat !== undefined">
                <div class="messages-block">
                    <div class="message_header">
                        <div class="username">
                            <p>{{ selectedChat.name }}</p>
                        </div>
                        <div class="isOnline">
                            <p>online</p>
                        </div>
                    </div>
                    <div class="message_body">
                        <div class="scroll" id="scroll" [ngStyle]="{'max-height': screenHeight}" #scroll>
                            <div class="message_content" *ngFor="let message of messages">
                                <div class="user-img" [style.float]="getMessageFloat(message.senderId)">
                                    <a><div class="circle" style="background-image: url(/app/img/Ivan_Loichuk_bg200x200.jpg);"></div></a>
                                    <p>{{ message.createdAt | date:'HH:mm' }}</p>
                                </div>
                                <div class="mess-text" [style.float]="getMessageFloat(message.senderId)">
                                    <p>{{ message.content }} </p>
                                </div>
                                <div class="mess-image" *ngIf="message.img" [style.float]="getMessageFloat(message.senderId)">
                                    <p>
                                        <a href="/app/img/TEEN.jpg" data-lightbox="image" data-title="My caption">
                                            <img class="ui bordered small image" src="/app/img/TEEN.jpg">
                                        </a>
                                    </p>
                                </div>

                                <section class="code"></section>
                            </div>
                        </div>

                        <div class="input-text">
                            <form #fromCreateMessage="ngForm" (ngSubmit)="createMessage(fromCreateMessage.value); fromCreateMessage.reset()">
                                <ul class="upload_item">
                                    <li><img src="/app/img/file_upload.png" alt="" width="30"></li>
                                </ul>
                                <input type="text" class="form-control" placeholder="Enter your message" name="content" ngModel #content="ngModel">
                                <ul class="upload_item">
                                    <li><img src="/app/img/code_upload.png" alt="" (click)="codeUpload.open()" width="35"></li>
                                    <li><img src="/app/img/photo_upload.png" alt="" id="imgButton" (click)="OpenImgUpload()"  width="30"></li>
                                </ul>
                                <input type="file" id="imgupload" style="display:none"/>
                                <input  type="submit" class="form-control" value="Send">
                            </form>
                        </div>

                        <!-- Modal windows -->
                        <div class="row">
                            <modal #codeUpload modalClass="modal-lg" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                                <modal-header>
                                    <h2>Create Snippet</h2>
                                </modal-header>
                                <modal-content>
                                    <form action="">
                                        <select class="prgLang">
                                            <option value="Java">Java</option>
                                            <option value="JavaScript">JavaScript</option>
                                            <option value="HTML">HTML</option>
                                            <option value="CSS">CSS</option>
                                        </select>
                                        <label for="code_container">Your code</label>
                                        <textarea name="code_container" id="code_container" cols="100" rows="10"></textarea>
                                        <label for="code_comment">Comment</label>
                                        <textarea name="code_comment" id="code_comment" cols="100" rows="5"></textarea>
                                    </form>
                                </modal-content>
                                <modal-footer>
                                    <div class="buttons_section">
                                        <input type="reset" class="cancel" value="Cancel" (click)="codeUpload.close()">
                                        <input type="submit" class="submit" value="Create Snippet">
                                    </div>
                                </modal-footer>
                            </modal>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
