<section class="edit">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5 custom-col-menu">
                <div class="edit-menu">
                    <div class="menu" >
                        <ul id="nav-edit" class="nav nav-pills nav-stacked">
                            <li class="basic_info {{showEdit ? 'active': ''}}" (click)="showEditSettings()" translate>EDIT.basicInfo</li>
                            <li class="general_settings {{showGeneral ? 'active' : ''}}" (click)="showGeneralSettings()" translate>EDIT.general</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-7 custom-col-edit-panel">
                <div class="edit-header">
                    <div class="menu" id="">
                        <div>
                            <a [routerLink]="['/profile']" class="active username">{{userBasicInfo.firstname +' '+ userBasicInfo.lastname}}</a>
                            <img src="/app/img/arrow.png" alt="">
                            <a href="#" class="nav-basic_info {{showEdit ? 'nav_show' : 'nav_hide'}}" translate> EDIT.basicInfo</a>
                            <a href="#" class="nav-general_settings {{showGeneral ? 'nav_show' : 'nav_hide'}}" translate>EDIT.general</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <form class="basic_info_form {{showEdit ? 'show' : 'hide'}}" action="" method="POST" #editForm="ngForm" (ngSubmit)="saveUserBasicInfo()">
                        <div class="edit-form">
                            <label for="edit_firstName" translate>EDIT.firstname</label><input type="text" id="edit_firstName" class="form-control" [(ngModel)]="userBasicInfo.firstname" placeholder="{{'EDIT.placeholder.firstname' | translate }}" name="firstname">
                        </div>
                        <div class="edit-form">
                            <label for="edit_lastName" translate>EDIT.lastname</label><input type="text" id="edit_lastName" class="form-control" [(ngModel)]="userBasicInfo.lastname" placeholder="{{'EDIT.placeholder.lastname' | translate }}" name="lastname">
                        </div>

                        <div class="edit-form">
                             <label class="phone_label" for="edit_phoneNumber" translate>EDIT.phoneNumber</label>
                             <input type="text" id="edit_phoneNumber" class="form-control" [(ngModel)]="userBasicInfo.phoneNumber" placeholder="{{'EDIT.placeholder.phoneNumber' | translate }}" name="phoneNumber">
                        </div>
                        <div class="edit-form">
                            <label for="edit_gender" translate>EDIT.gender</label>
                            <select name="edit_gender" id="edit_gender" [(ngModel)]="userBasicInfo.gender" ng-reflect-model="userBasicInfo.gender">
                                <option value="MALE" translate>EDIT.male</option>
                                <option value="FEMALE" translate>EDIT.female</option>
                            </select>
                        </div>
                        <div class="edit-form">
                            <label for="edit_birthday" translate>EDIT.birthday</label><input type="date" id="edit_birthday" class="form-control" [(ngModel)]="userBasicInfo.birthdayDate" required placeholder="{{'EDIT.placeholder.birthday' | translate }}" name="birthdayDate">
                        </div>
                        <div class="edit-form">
                            <label for="edit_city" translate>EDIT.city</label><input type="text" id="edit_city" class="form-control" [(ngModel)]="userBasicInfo.city" placeholder="{{'EDIT.placeholder.city' | translate }}" name="city">
                        </div>
                        <div class="edit-form">
                            <label for="edit_education" translate>EDIT.education</label><input type="text" id="edit_education" class="form-control" [(ngModel)]="userBasicInfo.education" placeholder="{{'EDIT.placeholder.education' | translate }}"  name="education">
                        </div>
                        <div class="edit-form">
                            <label for="edit_work"translate>EDIT.work</label><input type="text" id="edit_work" class="form-control" [(ngModel)]="userBasicInfo.work" placeholder="{{'EDIT.placeholder.work' | translate }}" name="work">
                        </div>
                        <div class="edit-form"><label for="edit_prg_lang" translate>EDIT.programmingLang</label>
                            <select id="edit_prg_lang" #choosenSelect data-placeholder="Choose your languages" class="chosen-select" multiple tabindex="5" size="5" >
                                <option value="java">Java</option>
                                <option value="php">PHP</option>
                                <option value="java" >Java</option>
                            </select>
                        </div>
                        <div class="alert alert-success"  *ngIf="showEditMessage">
                            <strong translate>EDIT.editMessage</strong>
                        </div>
                        <div class="edit-form">
                            <button type="submit" class="btn btn-default button" translate>Save</button>
                        </div>


                    </form>
                    <form class="general_settings_form {{showGeneral ? 'show' : 'hide'}}" #editGeneralData="ngForm" (submit)="saveUserEmail(editGeneralData.value)">
                        <div class="block">
                            <div class="settings_label">
                                <label class="password_label"translate>EDIT.password</label>
                            </div>
                            <div class="settings_value">
                                <input type="password" id="edit_password" name="edit_password" value="Example pass" disabled="disabled">
                            </div>
                            <a class="modal_change modal-trigger" data-modal="modal-edit-password" (click)="toggle('modal-edit-password')" translate>EDIT.change</a>
                        </div>
                        <div class="block">
                            <div class="settings_label">
                                <label class="email_label" translate>EDIT.email</label>
                            </div>
                            <div class="settings_value">
                                <input type="email" id="edit_email" [(ngModel)]="userBasicInfo.email" name="email" required value="{{userGeneralInfo.email}}">
                            </div>
                        </div>
                        <div class="alert alert-success"  *ngIf="showEditEmailMessage">
                            <strong translate>EDIT.editEmailMessage</strong>
                        </div>
                        <div class="block">
                            <button type="submit" class="btn btn-default button" translate>EDIT.save</button>
                        </div>
                    </form>
                    <!--#####-Modal window for general settings-######-->
                    <div class="modal" id="modal-edit-password">
                        <div class="modal-box">
                            <div class="modal-header">
                                <div class="close-modal" (click)="toggle('modal-edit-password')">&#10006;</div>
                                <p translate>Change password</p>
                            </div>
                            <div class="modal-body">
                                <div class="info" translate>EDIT.passwordInfo</div>
                                <form novalidate [formGroup]="passwordData" password-matcher #editPasswordData="ngForm"  (ngSubmit)="saveUserPassword(editPasswordData.value)">
                                    <div class="form-group">
                                        <label for="current_pass" translate>EDIT.currentPassword</label>
                                        <input type="password" class="form-control" id="current_pass" ngModel formControlName="oldPassword" name="oldPassword" required placeholder="{{'EDIT.placeholder.currentPassword' | translate }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="new_pass" translate>EDIT.newPassword</label>
                                        <input type="password" class="form-control" id="new_pass" ngModel formControlName="password" name="password"  required placeholder="{{'EDIT.placeholder.newPassword' | translate }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm_pass" translate>EDIT.confirmPassword</label>
                                        <input type="password" class="form-control" id="confirm_pass" formControlName="confirmPassword" name="confirmPassword" required placeholder="{{'EDIT.placeholder.confirmPassword' | translate }}">
                                    </div>
                                    <div class="alert alert-danger" *ngIf="passwordData.get('password').touched && passwordData.errors != null">
                                        <p *ngIf="passwordData.get('confirmPassword').invalid || passwordData.errors != null" translate>EDIT.passwordConfirmAlert</p>
                                    </div>
                                    <div class="alert alert-success"  *ngIf="showEditPassMessage">
                                        <strong translate>EDIT.editPassMessage</strong>
                                    </div>
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-default close-modal button" (click)="toggle('modal-edit-password')" translate>EDIT.cancel</button>
                                        <button type="submit" class="btn btn-default button" [disabled]="!passwordData.valid" translate>EDIT.save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--#### End modal window #### -->
                </div>
            </div>
        </div>
    </div>
</section>