<section class="edit">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5 custom-col-menu">
                <div class="edit-menu">
                    <div class="menu" >
                        <ul id="nav-edit" class="nav nav-pills nav-stacked">
                            <li class="basic_info {{showEdit ? 'active': ''}}" (click)="showEditSettings()">Basic info</li>
                            <li class="general_settings {{showGeneral ? 'active' : ''}}" (click)="showGeneralSettings()">General</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-7 custom-col-edit-panel">
                <div class="edit-header">
                    <div class="menu" id="">
                        <div>
                            <a href="home" class="active username">{{userBasicInfo.firstname +' '+ userBasicInfo.lastname}}</a>
                            <img src="/app/img/arrow.png" alt="">
                            <a href="#" class="nav-basic_info {{showEdit ? 'nav_show' : 'nav_hide'}}" >Basic info</a>
                            <a href="#" class="nav-general_settings {{showGeneral ? 'nav_show' : 'nav_hide'}}">General</a>
                        </div>
                    </div>
                </div>
                <div class="edit-content">
                    <form class="basic_info_form {{showEdit ? 'show' : 'hide'}}" action="" method="POST" #editForm="ngForm" (ngSubmit)="saveUserBasicInfo()">
                        <div class="edit-form">
                            <label for="edit_firstName">First name:</label><input type="text" id="edit_firstName" class="form-control" [(ngModel)]="userBasicInfo.firstname" placeholder="First name" name="firstname">
                        </div>
                        <div class="edit-form">
                            <label for="edit_lastName">Last name:</label><input type="text" id="edit_lastName" class="form-control" [(ngModel)]="userBasicInfo.lastname" placeholder="Last name" name="lastname">
                        </div>

                        <div class="edit-form">
                             <label class="phone_label" for="edit_phoneNumber">Phone number:</label>
                             <input type="text" id="edit_phoneNumber" class="form-control" [(ngModel)]="userBasicInfo.phoneNumber" placeholder="Phone number" name="phoneNumber">
                        </div>
                        <div class="edit-form">
                            <label for="edit_gender">Gender:</label>
                            <select name="edit_gender" id="edit_gender" [(ngModel)]="userBasicInfo.gender" ng-reflect-model="userBasicInfo.gender">
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>
                        <div class="edit-form">
                            <label for="edit_birthday">Birthday:</label><input type="date" id="edit_birthday" class="form-control" [(ngModel)]="userBasicInfo.birthdayDate" required placeholder="Birthday" name="birthdayDate">
                        </div>
                        <div class="edit-form">
                            <label for="edit_city">City:</label><input type="text" id="edit_city" class="form-control" [(ngModel)]="userBasicInfo.city" placeholder="City" name="city">
                        </div>
                        <div class="edit-form">
                            <label for="edit_education">Education:</label><input type="text" id="edit_education" class="form-control" [(ngModel)]="userBasicInfo.education" placeholder="Education"  name="education">
                        </div>
                        <div class="edit-form">
                            <label for="edit_work">Work:</label><input type="text" id="edit_work" class="form-control" [(ngModel)]="userBasicInfo.work" placeholder="Work" name="work">
                        </div>
                        <div class="edit-form"><label for="edit_prg_lang">Programing languages:</label>
                            <select id="edit_prg_lang" #choosenSelect data-placeholder="Choose your languages" class="chosen-select" multiple tabindex="5" size="5" >
                                <option value="java">Java</option>
                                <option value="php">PHP</option>
                                <option value="java" >Java</option>
                            </select>
                        </div>
                        <div class="alert alert-success"  *ngIf="showEditMessage">
                            <strong translate>HOME.editMessage</strong>
                        </div>
                        <div class="edit-form">
                            <button type="submit" class="btn btn-default button">Save</button>
                        </div>


                    </form>
                    <form class="general_settings_form {{showGeneral ? 'show' : 'hide'}}" #editGeneralData="ngForm" (submit)="saveUserEmail(editGeneralData.value)">
                        <div class="block">
                            <div class="settings_label">
                                <label class="password_label">Password:</label>
                            </div>
                            <div class="settings_value">
                                <input type="password" id="edit_password" name="edit_password" value="Example pass" disabled="disabled">
                            </div>
                            <a class="modal_change modal-trigger" data-modal="modal-edit-password" (click)="toggle('modal-edit-password')">Change</a>
                        </div>
                        <div class="block">
                            <div class="settings_label">
                                <label class="email_label">Email:</label>
                            </div>
                            <div class="settings_value">
                                <input type="email" id="edit_email" [(ngModel)]="userBasicInfo.email" name="email" required value="{{userGeneralInfo.email}}">
                            </div>
                        </div>
                        <div class="alert alert-success"  *ngIf="showEditEmailMessage">
                            <strong translate>HOME.editEmailMessage</strong>
                        </div>
                        <div class="block">
                            <button type="submit" class="btn btn-default button">Save</button>
                        </div>
                    </form>
                    <!--#####-Modal window for general settings-######-->
                    <div class="modal" id="modal-edit-password">
                        <div class="modal-box">
                            <div class="modal-header">
                                <div class="close-modal" (click)="toggle('modal-edit-password')">&#10006;</div>
                                <p>Change password</p>
                            </div>
                            <div class="modal-body">
                                <div class="info">You can use any combination of Latin letters, numbers and special symbols ! @ # $ % ^ & * ( ) _ - +. Your password should not be shorter than 6 characters.</div>
                                <form novalidate [formGroup]="passwordData" password-matcher #editPasswordData="ngForm"  (ngSubmit)="saveUserPassword(editPasswordData.value)">
                                    <div class="form-group">
                                        <label for="current_pass">Current password:</label>
                                        <input type="password" class="form-control" id="current_pass" ngModel formControlName="oldPassword" name="oldPassword" required placeholder="Current password">
                                    </div>
                                    <div class="form-group">
                                        <label for="new_pass">New password:</label>
                                        <input type="password" class="form-control" id="new_pass" ngModel formControlName="password" name="password"  required placeholder="New password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm_pass">Confirm password:</label>
                                        <input type="password" class="form-control" id="confirm_pass" formControlName="confirmPassword" name="confirmPassword" required placeholder="Confirm password">
                                    </div>
                                    <div class="alert alert-danger" *ngIf="passwordData.get('password').touched && passwordData.errors != null">
                                        <p *ngIf="passwordData.get('confirmPassword').invalid || passwordData.errors != null" translate>HOME.passwordConfirmAlert</p>
                                    </div>
                                    <div class="alert alert-success"  *ngIf="showEditPassMessage">
                                        <strong translate>HOME.editPassMessage</strong>
                                    </div>
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-default close-modal button" (click)="toggle('modal-edit-password')">Cancel</button>
                                        <button type="submit" class="btn btn-default button" [disabled]="!passwordData.valid">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--#### End modal window #### -->
                </div>
            </div>
        </div>
    </div>
</section>