<div class="forum_box">
    <ul class="forums">
        <li class="header"><p>Last activity</p></li>
        <li class="forum_posts">
            <ul>
                <li class="forum_post">
                    <table>
                        <tr>
                            <td rowspan="2" class="img_block"><a href="#" class="img"><img src="/app/img/Ivan_Loichuk_bg.jpg" alt=""></a></td>
                            <td colspan="2" class="title_block"><a href="#"><span>How to fix this</span></a></td>
                        </tr>
                        <tr>
                            <td class="author_block"><a href="#" ><span>Ivan,</span></a></td>
                            <td class="views_block"><span class="views_label"><img
                                    src="/app/img/views-icon.png" alt="Views"></span> <span class="views_value">2,455</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="date_block"><span>Sunday, 4 July</span></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </li>
    </ul>
</div>
