<div class="profile_image">
    <div class="img" >
        <a href="#"><img src="/app/img/Ivan_Loichuk_bg.jpg" alt=""></a>
    </div>
    <div class="change_photo">
        <button type="button"  (click)="toggle('modal-change-photo')" class="modal-trigger btn btn-default" data-modal="modal-change-photo">Change photo</button><!-- Trigger Modal. -->
        <!-- Modal window -->
        <div class="modal" id="modal-change-photo">
            <div  class="modal-box">
                <div class="modal-header">
                    <div (click)="toggle('modal-change-photo')" class="close-modal">&#10006;</div>
                    <p>Crop your profile photo</p>
                </div>
                <div class="modal-body">
                    <!-- This is the image we're attaching Jcrop to -->
                    <img src="/app/img/TEEN.jpg" id="cropbox" style="" />

                    <!-- This is the form that our event handler fills -->
                    <form action="" method="post" onsubmit="return checkCoords();">
                        <input type="hidden" id="x" name="x" />
                        <input type="hidden" id="y" name="y" />
                        <input type="hidden" id="w" name="w" />
                        <input type="hidden" id="h" name="h" />
                        <input type="submit" value="Crop and Save" class="btn btn-default " />
                        <!-- Important!!  Upload image size (width <= 800, height: auto) -->
                        <span class="btn btn-default btn-file">Upload image<input type="file" value="Upload image" class="btn btn-large btn-inverse"/></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>