<section class="notification_element">
  <ul>
    <li>
      <div class="user-img">
        <div class="circle" [style.background-image]="'url(/app/img/default_user_photo.jpg)'"></div>
      </div>

      <div class="center">
        <div class="user-name">
          <p>Ivan Loichuk</p>
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div class="message">
          <p>Hello</p>
        </div>
      </div>
    </li>
    <li>
      <div class="user-img">
        <div class="circle" [style.background-image]="'url(/app/img/default_user_photo.jpg)'"></div>
      </div>

      <div class="center">
        <div class="user-name">
          <p>Ivan Loichuk</p>
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div class="message">
          <p>Hello Орёл и Решка. Перезагрузка в Израиле - Земле Обетованной, родине пророков, святом месте для миллионов людей. У Насти Ивлеевой и Антона Птушкина есть всего один уин-энд, чтобы понять душу этой страны. Здесь мы разделились. Владелец золотой карты </p>
        </div>
      </div>
    </li>
  </ul>
</section>
