<section class="user_info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5 custom-col-image">
                <div class="profile_image">
                    <div class="img" >
                        <!-- <a href="#"><img src="{{profileImgSrc.cropImgSrc}}" alt=""></a> -->
                        <a href="#"><img [src]="userInfo.cropImgSrc ? '/api/profile/image/get/' + userInfo.cropImgSrc : '/app/img/default_user_photo.jpg'" alt=""></a>   <!-- crop image -->
                    </div>
                    <div class="change_photo">
                        <button type="button"  (click)="toggle('modal-change-photo')" class="modal-trigger btn btn-default" data-modal="modal-change-photo">Change photo</button><!-- Trigger Modal. -->
                        <!-- Modal window -->
                        <div class="modal" id="modal-change-photo">
                            <div  class="modal-box">
                                <div class="modal-header">
                                    <div (click)="toggle('modal-change-photo')" class="close-modal">&#10006;</div>
                                    <p>Crop your profile photo</p>
                                </div>
                                <div class="modal-body">
                                    <!-- This is the image we're attaching Jcrop to -->

                                    <img src="{{ userInfo.originalImgSrc ? '/api/profile/image/get/' + userInfo.originalImgSrc : '/app/img/default_user_photo.jpg'}}" #cropImgSrc #cropbox id="cropbox" style=""/>  <!-- original image -->

                                    <!-- This is the form that our event handler fills -->
                                    <form action="" method="post" (submit)="checkCoords()" onsubmit="return checkCoords();">
                                        <input type="hidden" #x id="x" name="x" />
                                        <input type="hidden" #y id="y" name="y" />
                                        <input type="hidden" #w id="w" name="w" />
                                        <input type="hidden" #h id="h" name="h" />
                                        <input (click)="cropImageAndSave( x.value, y.value, w.value, h.value)" type="button" value="Crop and Save" class="btn btn-default " />
                                        <!-- Important!!  Upload image size (width <= 800, height: auto) -->
                                        <span class="btn btn-default btn-file">Upload image<input type="file" value="Upload image" class="btn btn-large btn-inverse" [multiple]="false" #fileInput (change)="upload()"/></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forum_box">
                    <ul class="forums">
                        <li class="header"><p>Last activity</p></li>
                        <li class="forum_posts">
                            <ul>
                                <li class="forum_post">
                                    <table>
                                        <tr>
                                            <td rowspan="2" class="img_block"><a href="#" class="img"><img src="app/img/Ivan_Loichuk_bg.jpg" alt=""></a></td>
                                            <td colspan="2" class="title_block"><a href="#"><span>How to fix this</span></a></td>
                                        </tr>
                                        <tr>
                                            <td class="author_block"><a href="#" ><span>Ivan,</span></a></td>
                                            <td class="views_block"><span class="views_label"><img
                                                    src="app/img/views-icon.png" alt="Views"></span> <span class="views_value">2,455</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="date_block"><span>Sunday, 4 July</span></td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-7 custom-col-info">
                <div class="page_info">
                    <div class="page_top">
                        <p class="userName">{{userInfo.firstname}}  {{userInfo.lastname}}</p>
                        <p class="isOnline">{{userInfo.isOnline ? 'online' : 'offline'}}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="profile_info">
                        <div class="profile_info_row">
                            <div class="label_info city" *ngIf="userInfo.city">City:</div>
                            <div class="value" *ngIf="userInfo.city">{{userInfo.city}}</div>
                            <div class="edit_user_info">
                                <a (click)="editProfile()" id="link_edit_icon" title="Edit profile"><img [src]="editImgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" id="edit_icon" alt="Edit profile" title="Edit profile"></a>
                            </div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.education">
                            <div class="label_info">Education:</div>
                            <div class="value">{{userInfo.education}}</div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.work">
                            <div class="label_info">Work:</div>
                            <div class="value">{{userInfo.work}}</div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.birthdayDate">
                            <div class="label_info">Age:</div>
                            <div class="value">{{userInfo.birthdayDate | date: 'dd/MM/yyyy'}}</div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.programmingLanguages">
                            <div class="label_info">Programming languages:</div>
                            <div class="value">{{userInfo.programmingLanguages}}</div>
                        </div>
                    </div>
                </div>
                <div class="counts_module" *ngIf="countModules">
                    <div class="page_count" *ngFor="let module of countModules">
                        <a href="#"><span class="label_module">{{module.label}}</span></a>
                        <span class="value_module">{{module.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
