<section class="user_info">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5 custom-col-image">
                <div class="profile_image">
                    <div class="img" >
                        <!-- <a href="#"><img src="{{profileImgSrc.cropImgSrc}}" alt=""></a> -->
                        <a (click)="imgViewModal.open()"><img [src]="getImageLink(userInfo.cropImgSrc)" alt="" ></a>   <!-- crop image -->
                    </div>
                    <div class="change_photo">
                        <button type="button"  *ngIf="isMe" (click)="imgCropViewModal.open()" class="modal-trigger btn btn-default" data-modal="modal-change-photo" translate>PROFILE.changePhoto</button><!-- Trigger Modal. -->
                        <button type="button" (click)="goToMessagePage()" class="btn btn-default" *ngIf="!isMe && userInfo.friendShipStatus == 'ACCEPTED'">Send a messege</button>
                        <button type="button" (click)="addToFriends()" class="btn btn-default" *ngIf="!isMe && userInfo.friendShipStatus == null">Add to friends</button>
                        <button type="button" (click)="cancelFriendRequest()" class="btn btn-default" *ngIf="!isMe && userInfo.friendShipStatus != 'ACCEPTED' && userInfo.friendShipStatus != null">Cancel friend request</button>
                        <!-- Modal view profile image -->
                        <div class="row">
                            <modal #imgCropViewModal modalClass="modal-lg" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                                <modal-header>
                                    <h1 translate>PROFILE.cropInfo</h1>
                                </modal-header>
                                <modal-content>
                                    <!-- This is the image we're attaching Jcrop to -->

                                    <img [src]="getImageLink(userInfo.originalImgSrc)" #cropImgSrc #cropbox id="cropbox" style="width: 100%;"/>  <!-- original image -->

                                    <!-- This is the form that our event handler fills -->
                                    <form action="" method="post" (submit)="checkCoords()" onsubmit="return checkCoords();">
                                        <input type="hidden" #x id="x" name="x" />
                                        <input type="hidden" #y id="y" name="y" />
                                        <input type="hidden" #w id="w" name="w" />
                                        <input type="hidden" #h id="h" name="h" />
                                        <input (click)="cropImageAndSave( x.value, y.value, w.value, h.value); imgCropViewModal.close()" type="button" value="{{'PROFILE.cropAndSave' | translate}}" class="btn btn-default " />
                                        <!-- Important!!  Upload image size (width <= 800, height: auto) -->
                                        <span class="btn btn-default btn-file" translate>PROFILE.uploadImage<input type="file" value="Upload image" class="btn btn-large btn-inverse" [multiple]="false" #fileInput (change)="upload()"/></span>
                                    </form>
                                </modal-content>
                                <modal-footer>
                                    <div class="alert alert-success"  *ngIf="viewImageChangeMessage">
                                        <strong translate>PROFILE.imageChangeMessage</strong>
                                    </div>
                                  <div class="spinner" *ngIf="showImgSpinner"><i class="fa fa-spinner" aria-hidden="true"></i></div>
                                </modal-footer>
                            </modal>
                        </div>

                        <!-- Modal view profile image -->
                        <div class="row">
                            <modal #imgViewModal modalClass="modal-lg" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                                <modal-header>
                                    <h1></h1>
                                </modal-header>
                                <modal-content>
                                    <img [src]="getImageLink(userInfo.originalImgSrc)" class="imgView"/>
                                </modal-content>
                                <modal-footer>

                                </modal-footer>
                            </modal>
                        </div>
                    </div>
                </div>
                <div class="forum_box">
                    <ul class="forums">
                        <li class="header"><p>Last activity</p></li>
                        <li class="forum_posts">
                            <ul>
                                <li class="forum_post">
                                    <table>
                                        <tr>
                                            <td rowspan="2" class="img_block"><a href="#" class="img"><img src="app/img/Ivan_Loichuk_bg.jpg" alt=""></a></td>
                                            <td colspan="2" class="title_block"><a href="#"><span>How to fix this</span></a></td>
                                        </tr>
                                        <tr>
                                            <td class="author_block"><a href="#" ><span>Ivan,</span></a></td>
                                            <td class="views_block"><span class="views_label"><img
                                                    src="app/img/views-icon.png" alt="Views"></span> <span class="views_value">2,455</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="date_block"><span>Sunday, 4 July</span></td>
                                        </tr>
                                    </table>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-7 custom-col-info">
                <div class="page_info">
                    <div class="page_top">
                        <p class="userName">{{userInfo.firstname}}  {{userInfo.lastname}}</p>
                        <p class="isOnline">{{userInfo.isOnline ? 'online' : 'offline'}}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="profile_info">
                        <div class="profile_info_row">
                            <div class="label_info city" *ngIf="userInfo.city" translate>PROFILE.cityLabel</div>
                            <div class="value" *ngIf="userInfo.city">{{userInfo.city}}</div>
                            <div class="edit_user_info">
                                <a (click)="editProfile()" id="link_edit_icon" title="Edit profile" *ngIf="isMe"><img [src]="editImgSrc" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" id="edit_icon" alt="Edit profile" title="Edit profile"></a>
                            </div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.education">
                            <div class="label_info" translate>PROFILE.educationLabel</div>
                            <div class="value">{{userInfo.education}}</div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.work">
                            <div class="label_info" translate>PROFILE.workLabel</div>
                            <div class="value">{{userInfo.work}}</div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.birthdayDate">
                            <div class="label_info" translate>PROFILE.ageLabel</div>
                            <div class="value">{{userInfo.birthdayDate | date: 'dd/MM/yyyy'}}</div>
                        </div>
                        <div class="profile_info_row" *ngIf="userInfo.programmingLanguages">
                            <div class="label_info" translate>PROFILE.programLangLabel</div>
                            <div class="value">{{userInfo.programmingLanguages}}</div>
                        </div>
                    </div>
                </div>
                <div class="counts_module">
                    <div class="page_count">
                        <a (click)="goToMessagePage()" class="label"><span class="label_module" translate>PROFILE.newMessages</span></a>
                        <a (click)="goToMessagePage()" class="icon" title="{{'PROFILE.newMessages' | translate }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        <span class="value_module">(1)</span>
                    </div>
                    <div class="page_count">
                        <a (click)="goToFriendsPage()" class="label"><span class="label_module" translate>PROFILE.friends</span></a>
                        <a (click)="goToMessagePage()" class="icon" title="{{'PROFILE.friends' | translate }}"><i class="fa fa-users" aria-hidden="true"></i></a>
                        <span (click)="goToFriendsPage()" class="value_module">{{userInfo.friendsCount}}</span>
                    </div>
                    <div class="page_count">
                        <a href="#" class="label"><span class="label_module" translate>PROFILE.questions</span></a>
                        <a class="icon" title="{{'PROFILE.questions' | translate }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
                        <span class="value_module">18</span>
                    </div>
                    <div class="page_count">
                        <a (click)="createPost.open()" class="label" *ngIf="isMe"><span class="label_module" translate>PROFILE.createPost</span></a>
                        <a (click)="createPost.open()" class="icon" title="{{'PROFILE.createPost' | translate }}" *ngIf="isMe"> <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
                        <a class="label" title="{{'PROFILE.posts' | translate }}" *ngIf="!isMe"><span class="label_module" translate>PROFILE.posts</span></a>
                        <span  class="value_module">{{userInfo.postsCount}}</span>

                      <!-- Create a post modal windows -->
                        <div class="row">
                            <modal #createPost modalClass="modal-lg" id="createPostwModal" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                                <modal-header>
                                    <h2>Create a post</h2>
                                </modal-header>
                                <modal-content>
                                    <textarea name="createPost" id="createPost" [(ngModel)]="postDTO.content" cols="100" rows="5" placeholder="Enter a text"></textarea>
                                    <div class="post_attachment" style="display: none;">
                                        <div class="upload_image">
                                            <img src="app/img/TEEN.jpg" alt="">
                                            <div class="trash_button">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="files">
                                            <div class="code_group">
                                                <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                                <span>filename</span>
                                                <div class="trash_button">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="code_group">
                                                <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                                <span>longlonglonglonglonglong_filename</span>
                                                <div class="trash_button">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="code_group">
                                                <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                                <span>longlonglonglonglonglong_filename</span>
                                                <div class="trash_button">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="code_group">
                                                <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                                <span>longlonglonglonglonglong_filename</span>
                                                <div class="trash_button">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </modal-content>
                                <modal-footer>
                                    <div class="upload_components">
                                        <i class="fa fa-file-code-o"></i>
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    </div>

                                    <div class="buttons_section">
                                        <input type="reset" class="submit" value="Cancel" (click)="createPost.close()">
                                        <input type="submit" class="submit" value="Create" (click)="doPostCreation(postDTO); createPost.close()">
                                    </div>
                                </modal-footer>
                            </modal>
                        </div>

                    </div>
                </div>

                <div class="posts_container">
                    <div class="post_block" *ngFor="let post of userInfo.posts">
                        <div class="header">
                            <ul>
                                <li>
                                    <div class="user-img">
                                        <div class="circle" [style.background-image]="'url(' + getImageLink(post.cropImg) + ')'"></div>
                                    </div>

                                    <div class="content">
                                        <p class="username">{{userInfo.firstname + ' ' + userInfo.lastname}}</p>
                                        <p class="date">{{post.created_date | date:'dd.MM HH:mm'}}</p>
                                    </div>
                                    <div class="post_edit" *ngIf="isMe">
                                        <div class="dropdown">
                                            <a alt="More options"  title="More options" class=" dropdown-toggle" id="editPost" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>

                                            <ul class="dropdown-menu" aria-labelledby="editPost">
                                                <li><a (click)="selectPostForEditing(post); createPost.open()">Edit post</a></li>
                                                <li><a (click)="deletePost(post)">Delete post</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="separator"></div>
                        <div class="main_content">
                            <div class="text_block">
                                <p>{{post.content}}</p>
                            </div>
                            <div class="img_block" style="display: none;">
                                <img src="/app/img/MEM1.jpg" alt="">
                            </div>
                            <div class="file_block">

                            </div>
                            <div class="code_block">

                            </div>
                        </div>
                        <div class="social_module">
                            <div class="likesEntities">
                                <span class="glyphicon glyphicon-heart {{findAlreadyLiked(post) ? 'active' : ''}}" aria-hidden="true" (click)="createLike(post)"></span>
                                <p>{{ post.likes.length }}</p>
                            </div>
                            <div class="comments">
                                <span class="glyphicon glyphicon-comment" (click)="toggleComments(post)" aria-hidden="true"></span>
                                <p>{{ post.comments.length }}</p>
                                <i class="fa fa-spinner" aria-hidden="true" *ngIf="spinnerShow[post.id]"></i>
                            </div>
                        </div>
                        <div class="comments_module">
                            <div class="comment_block" *ngIf="post.isShowComments">
                                <ul>
                                    <li  *ngFor="let comment of post.comments">
                                        <div class="user-img">
                                            <div class="circle" (click)="goToProfile(comment.owner.userId)" [style.background-image]="'url(' + (comment.owner.cropImgSrc ? '/api/profile/image/get/' + comment.owner.cropImgSrc : '/app/img/default_user_photo.jpg') + ')'"></div>
                                        </div>

                                        <div class="content">
                                            <a (click)="goToProfile(comment.owner.userId)"><p class="username">{{ comment.owner.firstname + ' ' + comment.owner.lastname }}</p></a>
                                            <p class="text">{{ comment.content }}</p>
                                        </div>
                                        <div class="comments_edit" *ngIf="isMe">
                                            <p class="date">{{ comment.created_date | date:'dd.MM HH:mm' }}</p>
                                            <div class="dropdown">
                                                <a alt="More options"  title="More options" class=" dropdown-toggle" id="editComment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>

                                                <ul class="dropdown-menu" aria-labelledby="editComment">
                                                    <li><a (click)="deleteComment(post, comment)">Delete comment</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="input-text">
                                <form #fromCreateMessage="ngForm" (ngSubmit)="createComment(post); fromCreateMessage.reset()">
                                    <div class="user-img">
                                        <div class="circle" [style.background-image]="'url(' + (userInfo.cropImgSrc ? '/api/profile/image/get/' + userInfo.cropImgSrc : '/app/img/default_user_photo.jpg') + ')'"></div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter your comment" name="content{{post.id}}" [(ngModel)]="commentsContent[post.id]" #content="ngModel">
                                    <input type="submit" class="form-control" value="Send">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
