<section class="friends">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-5 custom-col-filter">
        <div class="search-filter">
          <div class="menu" >
            <ul id="nav-friends" class="nav nav-pills nav-stacked">
              <li class="{{showFriends ? 'active': ''}}" (click)="showMyFriends()" >My friends</li>
              <li class="{{showNewFriends ? 'active': ''}}" (click)="showMyNewFriends()">New friends</li>
              <li class="{{showFollowers ? 'active': ''}}" (click)="showMyFollowers()">Followers</li>
            </ul>
          </div>
          <form action="" method="POST">
            <div class="followers {{showFollowers ? 'show' : 'hide'}}">
              <label for="outgoing">Outgoing</label><input type="radio" name="follow" id="outgoing">
              <label for="pending">Pending</label><input type="radio" name="follow" id="pending">
            </div>
            <div class="online_group {{showFriends ? 'show' : 'hide'}}">
              <input type="checkbox" name="online_now" id="online_now">
              <label for="online_now">online now</label>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-7 custom-col-results">
        <div class="friends-header">
          <div class="menu" id="">
            <div>
              <a [routerLink]="['/profile']" class="active username">UserName</a>
              <img src="/app/img/arrow.png" alt="">
              <a class="nav-friends {{showFriends ? 'nav_show' : 'nav_hide'}}">Friends</a>
              <a class="nav-followers {{showNewFriends ? 'nav_show' : 'nav_hide'}}">New friends</a>
              <a  class="nav-followers {{showFollowers ? 'nav_show' : 'nav_hide'}}">Followers</a>
            </div>
          </div>
          <form>
            <input type="text" class="form-control" placeholder="Search">
          </form>
        </div>

        <div class="friends-content">
          <ul>
            <li class="content_box" *ngFor="let userData of userFriendsData">
              <table>
                <tr>
                  <td class="img_block" rowspan="3"><a href="#" class="img"><img src="{{userData.cropImage ? '/api/profile/image/get/' + userData.cropImage : '/app/img/default_user_photo.jpg'}}" alt=""></a></td>
                  <td class="info_block" rowspan="3">
                    <a [routerLink]="['/profile', userData.id]" class="title"><span>{{userData.firstName}}  {{userData.lastName}}</span></a>
                    <a href="#"><span>{{userData.friendsCount}} friends</span></a>
                  </td>
                  <td class="add_button" rowspan="3">
                    <input (click)="goToMessagePage(userData.id)" type="button" class="btn btn-default" value="Send a messege" *ngIf="showFriends || showFollowers && !showNewFriends">
                    <input type="button" id="acceptFriend{{userData.id}}" class="btn btn-default" value="Accept" *ngIf="showNewFriends" (click)="acceptFriendsRequest(userData.id)">
                    <input type="button" id="rejectFriend{{userData.id}}" class="btn btn-default" value="Reject" *ngIf="showNewFriends" (click)="rejectFriendRequest(userData.id)">
                    <input type="button" id="done{{userData.id}}" class="btn btn-default hide" value="Done" disabled>
                  </td>
                  <td class="controlBlock">
                    <div class="dropdown">
                      <a alt="More options"  title="More options" class=" dropdown-toggle" id="moreOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>

                      <ul class="dropdown-menu" aria-labelledby="moreOption">
                        <li><a (click)="removeFriend(userData.id)">Delete friend</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>