<section class="friends">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-5 custom-col-filter">
        <div class="search-filter">
          <div class="menu" >
            <ul id="nav-friends" class="nav nav-pills nav-stacked">
              <li class="active"><a href="#" class="myFriends">My friends</a></li>
              <li><a href="#" class="myFollowers">Followers</a></li>
            </ul>
          </div>
          <form action="" method="POST">
            <div class="followers">
              <label for="outgoing">Outgoing</label><input type="checkbox" name="follow" id="outgoing">
              <label for="pending">Pending</label><input type="checkbox" name="follow" id="pending">
            </div>
            <div class="online_group">
              <input type="checkbox" name="online_now" id="online_now">
              <label for="online_now">online now</label>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-7 custom-col-results">
        <div class="friends-header">
          <div class="menu" id="">
            <div>
              <a href="#" class="active username">UserName</a>
              <img src="/app/img/arrow.png" alt="">
              <a href="#" class="nav-friends">Friends</a>
              <a href="#" class="nav-followers">Followers</a>
            </div>
          </div>
          <form>
            <input type="text" class="form-control" placeholder="Search">
          </form>
        </div>

        <div class="friends-content">
          <ul>
            <li class="content_box">
              <table>
                <tr>
                  <td class="img_block" rowspan="3"><a href="#" class="img"><img src="/app/img/Ivan_Loichuk_bg.jpg" alt=""></a></td>
                  <td class="info_block" rowspan="3">
                    <a href="#" class="title"><span>Ivan Loichuk</span></a>
                    <a href="#"><span>45 friends</span></a>
                  </td>
                  <td class="add_button" rowspan="3">
                    <input type="button" class="btn btn-default" value="Send a messege">
                  </td>
                </tr>
              </table>
            </li>
            <li class="content_box">
              <table>
                <tr>
                  <td class="img_block" rowspan="3"><a href="#" class="img"><img src="/app/img/Ivan_Loichuk_bg.jpg" alt=""></a></td>
                  <td class="info_block" rowspan="3">
                    <a href="#" class="title"><span>Ivan Loichuk</span></a>
                    <a href="#"><span>45 friends</span></a>
                  </td>
                  <td class="add_button" rowspan="3">
                    <input type="button" class="btn btn-default" value="Send a messege">
                  </td>
                </tr>
              </table>
            </li>
            <li class="content_box">
              <table>
                <tr>
                  <td class="img_block" rowspan="3"><a href="#" class="img"><img src="/app/img/Ivan_Loichuk_bg200x200.jpg" alt=""></a></td>
                  <td class="info_block" rowspan="3">
                    <a href="#" class="title"><span>Roman Mysan</span></a>
                    <a href="#"><span>87 friends</span></a>
                  </td>
                  <td class="add_button" rowspan="3">
                    <input type="button" class="btn btn-default" value="Send a messege">
                  </td>
                </tr>
              </table>
            </li>
            <li class="content_box">
              <table>
                <tr>
                  <td class="img_block" rowspan="3"><a href="#" class="img"><img src="/app/img/Ivan_Loichuk_bg.jpg" alt=""></a></td>
                  <td class="info_block" rowspan="3">
                    <a href="#" class="title"><span>Ivan Loichuk</span></a>
                    <a href="#"><span>45 friends</span></a>
                  </td>
                  <td class="add_button" rowspan="3">
                    <input type="button" class="btn btn-default" value="Send a messege">
                  </td>
                </tr>
              </table>
            </li>
            <li class="content_box">
              <table>
                <tr>
                  <td class="img_block" rowspan="3"><a href="#" class="img"><img src="/app/img/Ivan_Loichuk_bg.jpg" alt=""></a></td>
                  <td class="info_block" rowspan="3">
                    <a href="#" class="title"><span>Ivan Loichuk</span></a>
                    <a href="#"><span>45 friends</span></a>
                  </td>
                  <td class="add_button" rowspan="3">
                    <input type="button" class="btn btn-default" value="Send a messege">
                  </td>
                </tr>
              </table>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>