<section class="forum-post">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 custom-col-post">
                <div class="post_top">
                    <div class="post_title">
                        <div>
                            <p class="title">{{question.title}}</p>
                            <div class="breadcrumb">
                                <ul>
                                    <li>Home</li>
                                    <li><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></li>
                                    <li>Questions</li>
                                </ul>
                            </div>
                        </div>

                        <div class="author_info">
                            <div class="user-img">
                                <div class="circle" [style.background-image]="'url(/app/img/MEM1.jpg)'"></div>
                            </div>
                            <div class="author_name">
                                <label>Author:</label>
                                <p>{{question.authorName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post_content">
                    <div class="post_block">
                        <div class="main_content">
                            <div class="block_title">
                                <label for="description">Description</label>
                                <div class="createTime">
                                    <label>Date of publication:</label><span>{{question.createdAt | date:'dd.MM.yyyy'}}</span> <label>at</label><span>{{question.createdAt | date:'HH:mm'}}</span>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="text_block" id="description">
                                <p>{{question.description}}</p>
                            </div>
                            <label for="files">Attachments:</label>
                            <div class="separator"></div>
                            <div class="files" id="files">
                                <div class="code_group">
                                    <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                    <span>filename</span>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                </div>
                            </div>
                            <div class="img_block" style="display: none;">
                                <img src="/app/img/MEM1.jpg" alt="">
                            </div>
                        </div>
                        <div class="social_module">
                            <div class="likesEntities">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                <p>8156</p>
                            </div>
                        </div>
                        <div class="comments_module">
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="answers_module">
                        <div class="title">Answers</div>
                        <div class="answer_block">
                            <ul>
                                <li *ngFor="let reply of question.replies">
                                    <div class="user-img">
                                        <div class="circle" [style.background-image]="'url(/app/img/TEEN.jpg)'"></div>
                                    </div>

                                    <div class="content">
                                        <a [routerLink]="['/profile']"><p class="username">{{reply.authorName}}</p></a>
                                        <p class="text">{{reply.content}}</p>

                                        <div class="answer_attachment">
                                            <div class="files">
                                                <div class="code_group">
                                                    <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                                    <span>filename</span>
                                                </div>
                                            </div>
                                            <div class="upload_image" style="display: none;">
                                                <img src="app/img/TEEN.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comments_edit">
                                        <p class="date">{{reply.createdAt | date:'MMMM dd, HH:mm'}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="separator"></div>
                        <div class="input_answer">
                            <div class="form_group">
                                <label for="createAnswer">Your answer:</label>
                                <textarea name="createAnswer" id="createAnswer" class="form-control" cols="100" rows="5" placeholder="Enter a text" [(ngModel)]="answer.content"></textarea>
                            </div>
                            <div class="post_attachment" style="display: none;">
                                <div class="upload_image">
                                    <img src="app/img/TEEN.jpg" alt="">
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="files">
                                    <div class="code_group">
                                        <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                        <span>filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="code_group">
                                        <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                        <span>longlonglonglonglonglong_filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="code_group">
                                        <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                        <span>longlonglonglonglonglong_filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="code_group">
                                        <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                        <span>longlonglonglonglonglong_filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control">
                                <div class="upload_components">
                                    <i class="fa fa-file-code-o"></i>
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <div class="buttons_section">
                                    <input type="submit" class="submit" value="Post your answer" (click)="createAnswer()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 custom-col-navigation">
                <div class="search">

                </div>
            </div>
            <!-- Create a post modal windows -->
            <div class="row">
                <modal #createPost modalClass="modal-lg" id="createPostwModal" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                    <modal-header>
                        <h2>Ask your questions</h2>
                    </modal-header>
                    <modal-content>
                        <div class="form_group">
                            <label for="post_title">Title:</label>
                            <input type="text" id="post_title" class="post_title form-control" placeholder="Title">
                        </div>
                        <div class="form_group">
                            <label for="createPost">Description:</label>
                            <textarea name="createPost" id="createPost" class="form-control" cols="100" rows="5" placeholder="Enter a text"></textarea>
                        </div>
                        <div class="form_group">
                            <label for="related_tags">Related tags</label>
                            <input type="text" id="related_tags" class="form-control" placeholder="Tags">
                        </div>
                        <div class="post_attachment" style="display: none;">
                            <div class="upload_image">
                                <img src="app/img/TEEN.jpg" alt="">
                                <div class="trash_button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="files">
                                <div class="code_group">
                                    <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                    <span>filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <div class="upload_components">
                            <i class="fa fa-file-code-o"></i>
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </div>

                        <div class="buttons_section">
                            <input type="reset" class="submit" value="Cancel" (click)="createPost.close()">
                            <input type="submit" class="submit" value="Create">
                        </div>
                    </modal-footer>
                </modal>
            </div>
        </div>
    </div>
</section>
