<section class="forum-post">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 custom-col-post">
                <div class="post_top">
                    <div class="post_title">
                        <div>
                            <p class="title">{{question.title}}</p>
                            <div class="breadcrumb">
                                <ul>
                                    <li translate>FORUM_POST.home</li>
                                    <li><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></li>
                                    <li translate>FORUM_POST.questions</li>
                                </ul>
                            </div>
                        </div>

                        <div class="author_info">
                            <div class="user-img">
                                <div class="circle" [style.background-image]="'url(/app/img/MEM1.jpg)'"></div>
                            </div>
                            <div class="author_name">
                                <label translate>FORUM_POST.author</label>
                                <p>{{question.authorName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post_content">
                    <div class="post_block">
                        <div class="main_content">
                            <div class="block_title">
                                <label for="description" translate>FORUM_POST.description</label>
                                <div class="createTime">
                                    <label translate>FORUM_POST.dateOfPublication</label><span>{{question.createdAt | date:'dd.MM.yyyy'}}</span>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="text_block" id="description">
                                <p>{{question.description}}</p>
                            </div>
                            <label for="files" translate>FORUM_POST.attachments</label>
                            <div class="separator"></div>
                            <div class="files" id="files">
                                <div class="code_group">
                                    <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                    <span>filename</span>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                </div>
                            </div>
                            <div class="img_block" style="display: none;">
                                <img src="/app/img/MEM1.jpg" alt="">
                            </div>
                        </div>
                        <div class="social_module">
                          <div class="addComment">
                            <span class="btnAddComment" (click)="commentCreateModal.open()" translate >FORUM_POST.addComment</span>
                          </div>
                          <div class="comments">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            <p>52</p>
                          </div>
                          <div class="likesEntities">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                            <p>8156</p>
                          </div>
                        </div>
                        <div class="comments">
                          <div class="comment_block" >
                            <ul>
                              <li>
                                <div class="user-img">
                                  <div class="circle" [style.background-image]="'url(/app/img/default_user_photo.jpg)'"></div>
                                </div>

                                <div class="content">
                                  <a><p class="username">Ivan Loichuk</p></a>
                                  <p class="text">LOL KEK </p>
                                </div>
                                <div class="comments_edit">
                                  <p class="date">22:27</p>
                                  <div class="dropdown">
                                    <a alt="More options"  title="More options" class=" dropdown-toggle" id="editComment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>

                                    <ul class="dropdown-menu" aria-labelledby="editComment">
                                      <li><a translate>FORUM_POST.deleteComment</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="answers_module">
                        <div class="title" translate>FORUM_POST.answers</div>
                        <div class="answer_block">
                            <ul>
                                <li *ngFor="let reply of question.replies">
                                  <div class="main">
                                    <div class="user-img">
                                      <div class="circle" [style.background-image]="'url(/app/img/TEEN.jpg)'"></div>
                                    </div>

                                    <div class="content">
                                      <a [routerLink]="['/profile']"><p class="username">{{reply.authorName}}</p></a>
                                      <p class="text">{{reply.content}}</p>

                                      <div class="answer_attachment">
                                        <div class="files">
                                          <div class="code_group">
                                            <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                            <span>filename</span>
                                          </div>
                                        </div>
                                        <div class="upload_image" style="display: none;">
                                          <img src="app/img/TEEN.jpg" alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="date">
                                      <p class="date">{{reply.createdAt | date:'MMMM dd, HH:mm'}}</p>
                                    </div>
                                  </div>
                                  <div class="social_module">
                                    <div class="addComment">
                                      <span class="btnAddComment" (click)="commentCreateModal.open()" translate >FORUM_POST.addComment</span>
                                    </div>
                                    <div class="comments">
                                      <i class="fa fa-spinner" aria-hidden="true"></i>
                                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                      <p>52</p>
                                    </div>
                                    <div class="likesEntities">
                                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                      <p>8156</p>
                                    </div>
                                  </div>
                                  <div class="comments">
                                    <div class="comment_block" >
                                      <ul>
                                        <li>
                                          <div class="user-img">
                                            <div class="circle" [style.background-image]="'url(/app/img/default_user_photo.jpg)'"></div>
                                          </div>

                                          <div class="content">
                                            <a><p class="username">Ivan Loichuk</p></a>
                                            <p class="text">Hello!!! Об этом фестивале знает весь мир, каждый год туда стремятся, без преувеличения, миллионы людей. Стоит только ввести в поиск слово Tomorrowland и через пару минут ты уже влюблен в этот фестиваль на всю жизнь!
                                            </p>
                                          </div>
                                          <div class="comments_edit">
                                            <p class="date">22:27</p>
                                            <div class="dropdown">
                                              <a alt="More options"  title="More options" class=" dropdown-toggle" id="editComment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>

                                              <ul class="dropdown-menu" aria-labelledby="editComment">
                                                <li><a translate>FORUM_POST.deleteComment</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </li>
                            </ul>
                        </div>
                        <div class="separator"></div>
                        <div class="input_answer">
                            <div class="form_group">
                                <label for="createAnswer" translate>FORUM_POST.yourAnswer</label>
                                <textarea name="createAnswer" id="createAnswer" class="form-control" cols="100" rows="5" placeholder="{{'FORUM_POST.enterText' | translate}}" [(ngModel)]="answer.content"></textarea>
                            </div>
                            <div class="post_attachment" style="display: none;">
                                <div class="upload_image">
                                    <img src="app/img/TEEN.jpg" alt="">
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="files">
                                    <div class="code_group">
                                        <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                        <span>filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="code_group">
                                        <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                        <span>longlonglonglonglonglong_filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="code_group">
                                        <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                        <span>longlonglonglonglonglong_filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="code_group">
                                        <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                        <span>longlonglonglonglonglong_filename</span>
                                        <div class="trash_button">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control">
                                <div class="upload_components">
                                    <i class="fa fa-file-code-o"></i>
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <div class="buttons_section">
                                    <input type="submit" class="submit" value="{{'FORUM_POST.postYourAnswer' | translate}}" (click)="createAnswer()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 custom-col-navigation">
                <related-tags-block></related-tags-block>
                <last-activity-block></last-activity-block>
            </div>

          <!-- create a comment -->

          <div class="row">
            <modal #commentCreateModal modalClass="modal-lg" [closeOnOutsideClick]="true" [closeOnEscape]="true">
              <modal-header>
                <h2 translate>FORUM_POST.createComment</h2>
              </modal-header>
              <modal-content>
                <form >
                  <div class="input-text">
                    <form>
                      <textarea  class="form-control"  cols="100" rows="5" placeholder="{{'FORUM_POST.enterComment' | translate }}"></textarea>
                    </form>
                  </div>
                </form>
              </modal-content>
              <modal-footer>
                <div class="buttons_section">
                  <input type="reset" class="submit" value="{{'FORUM_POST.cancel' | translate}}" (click)="commentCreateModal.close()">
                  <input type="submit" class="submit" value="{{'FORUM_POST.create' | translate}}">
                </div>
              </modal-footer>
            </modal>
          </div>

        </div>
    </div>
</section>
