<section class="forum-list">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 custom-col-posts">
                <div class="forum">
                    <div class="forum_top">
                        <p class="title">All questions</p>
                        <div class="ask_button">
                            <button type="button"  class="btn btn-default">Ask a questions</button>
                        </div>

                    </div>
                    <div class="separator"></div>
                    <div class="forum_content">
                        <div class="post_block">
                            <div class="top">
                                <div class="related_tags">
                                    <span>Java</span>
                                    <span>C++</span>
                                    <span>PHP</span>
                                </div>
                                <div class="modified_date">
                                    <p>yesterday 16:12</p>
                                </div>
                            </div>
                            <div class="post_title">
                                <p>Can't click or select an item from javascript dropdown menu using VBA</p>
                            </div>
                            <div class="bottom">
                                <div class="autor">
                                    <span class="autor_label">autor:</span>
                                    <span class="autor_name">Ivan Loichuk</span>
                                </div>
                                <div class="social_module">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <p>8156</p>
                                    </div>
                                    <div class="comments">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <p>52</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_block">
                            <div class="top">
                                <div class="related_tags">
                                    <span>Java</span>
                                    <span>C++</span>
                                    <span>PHP</span>
                                </div>
                                <div class="modified_date">
                                    <p>yesterday 16:12</p>
                                </div>
                            </div>
                            <div class="post_title">
                                <p>Oracle Pro C config reload</p>
                            </div>
                            <div class="bottom">
                                <div class="autor">
                                    <span class="autor_label">autor:</span>
                                    <span class="autor_name">Roman Mysan</span>
                                </div>
                                <div class="social_module">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <p>8156</p>
                                    </div>
                                    <div class="comments">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <p>52</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_block">
                            <div class="top">
                                <div class="related_tags">
                                    <span>Java</span>
                                    <span>C++</span>
                                    <span>PHP</span>
                                </div>
                                <div class="modified_date">
                                    <p>yesterday 16:12</p>
                                </div>
                            </div>
                            <div class="post_title">
                                <p>Flask form.populate_obj() keep null values</p>
                            </div>
                            <div class="bottom">
                                <div class="autor">
                                    <span class="autor_label">autor:</span>
                                    <span class="autor_name">Maksym Osmuk</span>
                                </div>
                                <div class="social_module">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <p>8156</p>
                                    </div>
                                    <div class="comments">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <p>52</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 custom-col-navigation">
                <div class="search">

                </div>
            </div>
        </div>
    </div>


</section>