<section class="forum-list">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 custom-col-posts">
                <div class="forum_top">
                    <div class="forum_title">
                        <p class="title">All questions</p>
                        <div class="ask_button">
                            <button type="button"  class="btn btn-default" (click)="createPost.open()">Ask a questions</button>
                        </div>
                    </div>
                    <form>
                        <input type="text" class="form-control" placeholder="Search">
                    </form>
                </div>
                <div class="forum">
                    <div class="forum_content">
                        <div class="post_block">
                            <div class="top">
                                <div class="related_tags">
                                    <span>Java</span>
                                    <span>C++</span>
                                    <span>PHP</span>
                                </div>
                                <div class="modified_date">
                                    <p>yesterday 16:12</p>
                                </div>
                            </div>
                            <div class="post_title">
                                <p>Can't click or select an item from javascript dropdown menu using VBA</p>
                            </div>
                            <div class="bottom">
                                <div class="autor">
                                    <span class="autor_label">autor:</span>
                                    <span class="autor_name">Ivan Loichuk</span>
                                </div>
                                <div class="social_module">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <p>8156</p>
                                    </div>
                                    <div class="comments">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <p>52</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_block">
                            <div class="top">
                                <div class="related_tags">
                                    <span>Java</span>
                                    <span>C++</span>
                                    <span>PHP</span>
                                </div>
                                <div class="modified_date">
                                    <p>yesterday 16:12</p>
                                </div>
                            </div>
                            <div class="post_title">
                                <p>Oracle Pro C config reload</p>
                            </div>
                            <div class="bottom">
                                <div class="autor">
                                    <span class="autor_label">autor:</span>
                                    <span class="autor_name">Roman Mysan</span>
                                </div>
                                <div class="social_module">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <p>8156</p>
                                    </div>
                                    <div class="comments">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <p>52</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post_block">
                            <div class="top">
                                <div class="related_tags">
                                    <span>Java</span>
                                    <span>C++</span>
                                    <span>PHP</span>
                                </div>
                                <div class="modified_date">
                                    <p>yesterday 16:12</p>
                                </div>
                            </div>
                            <div class="post_title">
                                <p>Flask form.populate_obj() keep null values</p>
                            </div>
                            <div class="bottom">
                                <div class="autor">
                                    <span class="autor_label">autor:</span>
                                    <span class="autor_name">Maksym Osmuk</span>
                                </div>
                                <div class="social_module">
                                    <div class="likes">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <p>8156</p>
                                    </div>
                                    <div class="comments">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                        <p>52</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 custom-col-navigation">
                <div class="search">

                </div>
            </div>

            <!-- Create a post modal windows -->
            <div class="row">
                <modal #createPost modalClass="modal-lg" id="createPostwModal" [closeOnOutsideClick]="true" [closeOnEscape]="true">
                    <modal-header>
                        <h2>Ask your questions</h2>
                    </modal-header>
                    <modal-content>
                        <div class="form_group">
                            <label for="post_title">Title:</label>
                            <input type="text" id="post_title" class="post_title form-control" placeholder="Title">
                        </div>
                        <div class="form_group">
                            <label for="createPost">Description:</label>
                            <textarea name="createPost" id="createPost" class="form-control" cols="100" rows="5" placeholder="Enter a text"></textarea>
                        </div>
                        <div class="form_group">
                            <label for="related_tags">Related tags</label>
                            <input type="text" id="related_tags" class="form-control" placeholder="Tags">
                        </div>
                        <div class="post_attachment" style="display: none;">
                            <div class="upload_image">
                                <img src="app/img/TEEN.jpg" alt="">
                                <div class="trash_button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="files">
                                <div class="code_group">
                                    <i class="fa fa-file fa-6x" aria-hidden="true"></i>
                                    <span>filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="code_group">
                                    <i class="fa fa-file-code-o fa-6x" aria-hidden="true"></i>
                                    <span>longlonglonglonglonglong_filename</span>
                                    <div class="trash_button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <div class="upload_components">
                            <i class="fa fa-file-code-o"></i>
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </div>

                        <div class="buttons_section">
                            <input type="reset" class="submit" value="Cancel" (click)="createPost.close()">
                            <input type="submit" class="submit" value="Create">
                        </div>
                    </modal-footer>
                </modal>
            </div>
        </div>
    </div>
</section>