<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-inverse nav-menu">             <!-- navigation menu -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home"><img src="/app/img/logotype4.png" alt="logotype" class="logotype"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li role="presentation" class=""><a href="#" translate>HOME.HOME</a></li>
              <li role="presentation"><a href="#" translate>HOME.ABOUT</a></li>
              <li role="presentation"><a href="home#registration" translate>HOME.SIGN_UP</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>   <!-- End row -->
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="jmt-info">              <!-- some information and signup button -->
          <h4 translate>HOME.Its_free</h4>
          <h2 translate>HOME.jmt-info_h2</h2>
          <h3 translate>HOME.jmt-info_h3</h3>
          <p><a class="btn btn-primary btn-lg button" href="home#registration" role="button" translate>HOME.registration</a></p>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="signin">                <!-- signin form -->
          <div class="info">
            <h2 translate>HOME.log_in</h2>
            <h4 translate>HOME.complete_form</h4>
          </div>
          <form #formSignIn="ngForm" (ngSubmit)="onSignIn(formSignIn.value)">
            <div class="signin_form">
              <input type="email" class="form-control" placeholder="{{'HOME.placeholder.email' | translate }}"
                     name="email"
                     ngModel #email="ngModel">
            </div>
            <div class="signin_form">
              <input type="password" class="form-control" placeholder="{{'HOME.placeholder.password' | translate }}"
                     name="password"
                     ngModel #password="ngModel">
            </div>

            <div class="alert alert-danger signin_form"  *ngIf="showLoginMessage">
              <strong translate>HOME.loginFailed</strong>
            </div>
            <button type="submit" class="btn btn-default btn-signin  button" translate>HOME.sign_in</button>
            <i class="fa fa-spinner signInSpinner" aria-hidden="true" *ngIf="spinnerInShow"></i>
          </form>
        </div>
      </div>
    </div>   <!-- End row -->
  </div>  <!-- End container -->
</header>

<section class="registration-form" id="registration">
  <div class="container">
    <div class="row">
      <div class="col-md-4  col-sm-6 col-xs-12 reset_padding">
        <div class="form">
          <form class="signup" novalidate [formGroup]="form" password-matcher #f="ngForm" (ngSubmit)="onSignUp(f.value)">                <!-- signup form -->
            <span><h2 translate>HOME.sign_up</h2></span>
            <div class="signup_form">
              <input type="text" class="form-control" formControlName="firstname" name="firstname" id="firstname" placeholder="{{'HOME.placeholder.firstName' | translate}}">
              <div class="errors" *ngIf="form.get('firstname').touched">
                <p *ngIf="form.get('firstname').errors != null ? form.get('firstname').errors.required :  false " translate>HOME.firstNameAlert</p>
                <p *ngIf="form.get('firstname').errors != null ? form.get('firstname').errors.maxlength :  false " translate>HOME.firstNameLongAlert</p>
                <p *ngIf="form.get('firstname').errors != null ? form.get('firstname').errors.minlength :  false " translate>HOME.firstNameShortAlert</p>
              </div>

            </div>
            <div class="signup_form">
              <input type="text" class="form-control" formControlName="lastname" id="lastname" placeholder="{{'HOME.placeholder.lastName' | translate}}">
              <div class="errors" *ngIf="form.get('lastname').touched">
                <p *ngIf="form.get('lastname').errors != null ? form.get('lastname').errors.required :  false " translate>HOME.lastNameAlert</p>
                <p *ngIf="form.get('lastname').errors != null ? form.get('lastname').errors.maxlength :  false " translate>HOME.lastNameLongAlert</p>
                <p *ngIf="form.get('lastname').errors != null ? form.get('lastname').errors.minlength :  false " translate>HOME.lastNameShortAlert</p>
              </div>
            </div>
            <div class="gender">
              <label for="male" translate> HOME.genderMale
                <input type="radio"  formControlName="gender"  id="male" value="Male"></label>
              <label for="female" translate>HOME.genderFemale
                <input type="radio" formControlName="gender" id="female" value="Female"></label>
              <div class="errors" *ngIf="form.get('gender').touched">
                <p *ngIf="form.get('gender').invalid" translate>HOME.genderAlert</p>
              </div>
            </div>
            <div class="birthday signup_form">
              <input type="date"  formControlName="birthdayDate" id="birthdayDate" placeholder="{{'HOME.placeholder.birthday' | translate }}" max="{{currentDate | date:'yyyy-MM-dd'}}">
              <div class="errors" *ngIf="form.get('birthdayDate').touched">
                <p *ngIf="form.get('birthdayDate').invalid" translate>HOME.birthdayAlert</p>
              </div>
            </div>
            <div class="signup_form">
              <input type="email" class="form-control" formControlName="email"  id="email" placeholder="{{'HOME.placeholder.email' | translate }}" pattern = "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <div class="errors" *ngIf="form.get('email').touched" >
                <p *ngIf="form.get('email').errors != null ? form.get('email').errors.required :  false " translate>HOME.emailAlert</p>
                <p *ngIf="form.get('email').errors != null ? form.get('email').errors.pattern :  false " translate>HOME.emailInvalidAlert</p>
              </div>
            </div>
            <div class="signup_form">
              <input type="password" class="form-control" formControlName="password"  id="password" placeholder="{{'HOME.placeholder.password' | translate }}">
              <div class="errors" *ngIf="form.get('password').touched">
                <p *ngIf="form.get('password').invalid" translate>HOME.passwordAlert</p>
              </div>
            </div>
            <div class="signup_form">
              <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="{{'HOME.placeholder.passwordVerify' | translate }}">
              <div class="errors" *ngIf="form.get('confirmPassword').touched">
                <p *ngIf="form.get('confirmPassword').invalid || form.errors != null" translate>HOME.passwordConfirmAlert</p>
              </div>
            </div>
            <button type="submit" class="btn btn-default btn-signin button" [disabled]="!form.valid" translate>HOME.sign_up</button>
            <div class="signUpSpinner" *ngIf="spinnerUpShow"><i class="fa fa-spinner" aria-hidden="true"></i></div>
            <div class="alert alert-success signup_form" *ngIf="showRegistrationMessage">
              <strong translate>HOME.registrationSuccess</strong> {{registrationMessage}}
            </div>

            <div class="alert alert-danger signup_form" *ngIf="showErrorMessage">
              <strong>{{errorMessage}}</strong>
            </div>
          </form>
        </div>

      </div>
      <div class="col-md-4 col-sm-3 col-xs-6 reset_padding">
        <div class="list_of_functionality">
          <div class="slides">
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p translate>HOME.makePosts</p></div>
            </div>
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p translate>HOME.sendMess</p></div>
            </div>
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p translate>HOME.makeQuestion</p></div>
            </div>
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p translate>HOME.forumDev</p></div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-6 reset_padding">
        <div class="about_dice_info">
          <div class="title" translate>
            HOME.whatIsDice
          </div>
          <div class="text">
            <p translate>HOME.diceDescription<br><br></p>
              <h4 translate>HOME.diceSuchAs</h4><br>
            <p translate> <span class="bold" translate>HOME.makePosts</span>HOME.makePostsDesc<br> </p>
            <p translate><span class="bold" translate>HOME.sendMess</span>HOME.sendMessDesc<br></p>
            <p translate><span class="bold" translate>HOME.forumDev</span>HOME.forumDevDesc</p>

          </div>
        </div>
      </div>
    </div> <!--  End row -->
  </div> <!-- End container -->
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="copyright col-md-2 col-sm-6 col-xs-12">
        <p>Dice@2017</p><hr>
      </div>

      <div class="settings col-md-4 col-sm-6 col-xs-12">
        <ul>
          <li class="list-gr"><a href="#" translate>FOOTER.about</a></li>
          <li class="list-gr"><a href="#" translate>FOOTER.help</a></li>
          <li class="list-gr"><a href="#" translate>FOOTER.developers</a></li>
        </ul><hr>
      </div>

      <div class="languages col-md-6 col-sm-12 col-xs-12">
        <ul>
          <li class="list-gr" translate>FOOTER.language</li>
          <li class="list-gr"><a (click)="useLanguage('en')">english</a></li>
          <li class="list-gr"><a (click)="useLanguage('pl')">polski</a></li>
          <li class="list-gr"><a (click)="useLanguage('ua')">українська</a></li>
          <li class="list-gr"><a (click)="useLanguage('ru')">русский</a></li>
        </ul>
        <hr>
      </div>

    </div>
  </div>
</footer>

