<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-inverse nav-menu">             <!-- navigation menu -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/app/img/logotype4.png" alt="logotype" class="logotype"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li role="presentation" class=""><a href="#">HOME</a></li>
              <li role="presentation"><a href="#">ABOUT</a></li>
              <li role="presentation"><a href="#">SIGN IN</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>   <!-- End row -->
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="jmt-info">              <!-- some information and signup button -->
          <h4>introducing lucid theme</h4>
          <h2>Carefully crafted and beautiful landing page.</h2>
          <h3>Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies
            accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.</h3>
          <p><a class="btn btn-primary btn-lg button" href="#registration" role="button">REGISTRATION</a></p>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="signin">                <!-- signin form -->
          <div class="info">
            <h2>Log in</h2>
            <h4>Please complete the form.</h4>
          </div>
          <form #f="ngForm" (ngSubmit)="onSignIn(f.value)">
            <div class="signin_form">
              <input type="text" class="form-control" placeholder="Username"
                     name="username"
                     ngModel #username="ngModel">
            </div>
            <div class="signin_form">
              <input type="password" class="form-control" placeholder="Password"
                     name="password"
                     ngModel #password="ngModel">
            </div>
            <button type="submit" class="btn btn-default btn-signin  button">SIGN IN</button>
          </form>
        </div>
      </div>
    </div>   <!-- End row -->
  </div>  <!-- End container -->
</header>

<section class="registration-form" id="registration">
  <div class="container">
    <div class="row">
      <div class="col-md-4  col-sm-6 col-xs-12 reset_padding">
        <div class="form">
          <form class="signup" novalidate [formGroup]="form" password-matcher>                <!-- signup form -->
            <span><h2>Sign Up</h2></span>

            <div class="signup_form">
              <input type="text" class="form-control" formControlName="firstname" name="firstname" id="firstname" placeholder="Name">
              <div class="errors" *ngIf="form.get('firstname').touched">
                <p *ngIf="form.get('firstname').errors != null ? form.get('firstname').errors.required :  false ">You must enter a firstname</p>
                <p *ngIf="form.get('firstname').errors != null ? form.get('firstname').errors.maxlength :  false " >Long firstname</p>

              </div>

            </div>
            <div class="signup_form">
              <input type="text" class="form-control" formControlName="lastname" id="lastname" placeholder="Surname">
              <div class="errors" *ngIf="form.get('lastname').touched">
                <p *ngIf="form.get('lastname').errors != null ? form.get('lastname').errors.required :  false ">You must enter a lastname</p>
                <p *ngIf="form.get('lastname').errors != null ? form.get('lastname').errors.maxlength :  false " >Long lastname</p>
              </div>
            </div>
            <div class="sex">
              <label for="male"> Male
                <input type="radio"  formControlName="gender"  id="male" value="Male"></label>
              <label for="female">Female
                <input type="radio" formControlName="gender" id="female" value="Female"></label>
              <div class="errors" *ngIf="form.get('gender').touched">
                <p *ngIf="form.get('gender').invalid">You must select a gender</p>
              </div>
            </div>
            <div class="birthday signup_form">
              <input type="date"  formControlName="birthdayDate"  id="birthdayDate" placeholder="Birthday">
              <div class="errors" *ngIf="form.get('birthdayDate').touched">
                <p *ngIf="form.get('birthdayDate').invalid">You must enter a birthdayDate</p>
              </div>
            </div>
            <div class="signup_form">
              <input type="email" class="form-control" formControlName="email"  id="email" placeholder="Email" pattern = "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <div class="errors" *ngIf="form.get('email').touched" >
                <p *ngIf="form.get('email').errors != null ? form.get('email').errors.required :  false " >You must enter an email address</p>
                <p *ngIf="form.get('email').errors != null ? form.get('email').errors.pattern :  false " >Your email address is invalid. Please enter a valid address</p>
              </div>
            </div>
            <div class="signup_form">
              <input type="password" class="form-control" formControlName="password"  id="password" placeholder="Password">
              <div class="errors" *ngIf="form.get('password').touched">
                <p *ngIf="form.get('password').invalid">You must enter a password</p>
              </div>
            </div>
            <div class="signup_form">
              <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="Verify your password">
              <div class="errors" *ngIf="form.get('confirmPassword').touched">
                <p *ngIf="form.get('confirmPassword').invalid || form.errors != null">Confirm password don't match</p>
              </div>
            </div>
            <button type="submit" class="btn btn-default btn-signin button" [disabled]="!form.valid">SIGN UP</button>
          </form>
        </div>

      </div>
      <div class="col-md-4 col-sm-3 col-xs-6 reset_padding">
        <div class="list_of_functionality">
          <div class="slides">
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p>Make a posts</p></div>
            </div>
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p>Send messeges</p></div>
            </div>
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p>Create your own group</p></div>
            </div>
            <div class="slide">
              <img src="/app/img/slide_1.png" alt="">
              <div class="text"><p>Listen to music</p></div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-6 reset_padding">
        <div class="about_dice_info">
          <div class="title">
            What is Lorem Ipsum?
          </div>
          <div class="text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galle</p>
          </div>

        </div>
      </div>
    </div> <!--  End row -->
  </div> <!-- End container -->
</section>
