html{
  height: 100%;
}
*{
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', 'Open sans', sans-serif;
  background-color: #F5F6FA;
  position: relative;
  min-height: 100vh;
  margin: 0;
}
hr{width: 100%; margin: 0; padding: 0;}