@import "colors";

section.messages {
  .search-friends{ padding: 1%;
    form{ margin: 0;
      input{ width: 96%; margin: 0% 2%; }
    }
    button{ width: 96%; background-color: @msg_buttonBg; color: @msg_msgBoxFont; margin: 5% 2%;
      &:hover{background-color: @msg_buttonBgHover;}
    }
  }

  .friends-list{ width: 100%; border: 1px solid @box_border; background-color: @box_bg; border-radius: 2px;
    .list-container{ width: 100%; padding: 1%;
       .scroll{ overflow-y: scroll;
         ul{ width: 100%; padding: 0;
           li{ display: inline-flex; width: 96%; border-radius: 2px; border: 1px solid @msg_liBg; margin: 2px 2%;
             &.active{background-color: @msg_liBgHover; color: @msg_liColor;}
             &:hover{ background-color: @msg_liBgHover; color: @msg_liColor; cursor: pointer;}
             .user-img{ padding: 2%;
               .circle{ width: 60px; padding: 2%; height: 60px; border-radius: 50%; background-position: center; background-size: cover;}
             }
             .content{ width: 60%; padding: 3% 2% 0 5%;  }
             .last-modify{ width: 20%; padding-top: 8%; text-align: center;}
           }
         }
       }
     }
    .list-friends{ width: 100%; padding: 1%;
      .scroll{ overflow-y: scroll; max-height: 73vh;
        ul{ width: 100%; padding: 0;
          li{ display: inline-flex; width: 96%; border-radius: 2px; border: 1px solid @msg_liBg; margin: 2px 2%;
            &:hover{ background-color: @msg_liBgHover; color: @msg_liColor; cursor: pointer;}
            .user-img{ padding: 2%;
              .circle{ width: 30px; padding: 2%; height: 30px; border-radius: 50%; background-position: center; background-size: cover;}
            }
            .content{ width: 60%; padding: 13px 0% 0 4%;
              p{font-size: 16px;}
            }
            .isOnline{ width: 26%; padding-top: 13px; text-align: end; color: @msg_isOnineLabel;}
          }
        }
      }
    }

    modal{
      modal-header{
        h2{ font-size: 25px; padding: 0 5%;}
      }
      modal-content{
        form{
          input{margin: 0 3%; width: 91%;}
        }
      }
    }
  }
  .messages-block{width: 100%; border: 1px solid @box_border; background-color: @box_bg; border-radius: 2px;
    .message_header{ display: inline-table; width: 100%; border-bottom: 1px solid @box_border;
      .username{ width: 50%; float: left;
        p{ padding: 15px 26px; font-size: 20px;  margin:0;}
      }
      .isOnline{ float: right;
        p{padding: 15px 25px; color: @msg_isOnineLabel; margin:0;}
      }
    }
    .message_body{
      .scroll{ overflow-y: scroll; max-height: 80vh; height: 72vh;
        .message_content{ width: 100%; display: inline-block;
          &:first-child{
            .user-img{padding: 2% 2% 0 2%;
              p{ margin: 0;}
            }
            .mess-text{ float: left; position: relative; top: 20px; background-color: @msg_msgBoxBg; color:@msg_msgBoxFont; border-radius: 10px; padding: 5px 10px 5px 10px; max-width: 70%;
              P{margin: 0;}
            }
          }
          .user-img{ padding: 0 2% 0 2%; float: left;
            p{ margin: 0;}
            .circle{ width: 40px; padding: 2%; height: 40px; border-radius: 50%; background-position: center; background-size: cover;}
          }
          .mess-text{ float: left; position: relative; top: 10px; background-color: @msg_msgBoxBg; color:@msg_msgBoxFont; border-radius: 10px; padding: 5px 10px 5px 10px; max-width: 70%;  margin-bottom: 20px;
            p{margin: 0;}
          }
          .mess-image{ float: left; position: relative; top: 10px;  padding: 5px 10px 5px 10px; max-width: 70%;  margin-bottom: 20px;
            p{margin: 0;
              img{ max-width: 100%;}
            }
          }
          .mess-file{
            .file-img{ padding: 0 2% 0 2%;
              div{width: 50px; padding: 2%; height: 50px; background-position: center; background-size: cover;}
              i{padding: 10px 10px 5px 10px;}
            }
            .content{
              .filename{ width: 80px;font-size: 12px; letter-spacing: 0px;line-height: 13px;}
            }
          }
        }
      }
      .input-text{ padding: 15px 15px 15px 15px; border-top: 1px solid @box_border; display: table; width: 100%;
        .upload_files{ width: 100%;
          span, i{font-size: 25px; color: @msg_iconsBg; cursor: pointer; padding: 5px;
            &:hover{color: @msg_iconsHover; }
          }
        }
        form{ width: 100%; display: inline-flex; margin: 0;
          input[type='text']{ width: 85%; margin-right: 10px; }
          input[type='submit']{ width: 15%; background-color: @msg_buttonBg; border: none; color: @msg_msgBoxFont; margin-left: 10px;
            &:hover{background-color: @msg_buttonBgHover;}
          }
          .upload_item{ list-style: none; display: inline-flex; margin: 0; padding: 0;
            li{margin: 5px;
              img{width: 25px; cursor: pointer;}
              span, i{font-size: 20px; color: @msg_iconsBg; cursor: pointer;
                &:hover{color: @msg_iconsHover; }
              }
            }
          }
        }

      }
      /*------- Modal window ------------------*/
      modal{
        &#codeViewModal{
          modal-header{
            h2{margin: 5px 1%;}
          }
          label{width: 100%; font-size: 20px; margin: 10px 10px 0px 10px;}
          p{ padding: 10px; font-size: 16px;}
          .buttons_section{ width: 98%; text-align: end; margin: 1%;
            input{ height: 40px; border-radius: 5px; border: none; margin: 5px 5px; background-color: @msg_buttonBg; color: @msg_msgBoxFont;
              &.submit{width: 180px;}
              &:hover{background-color: @msg_buttonBgHover;}
            }
          }
        }

        &#codeModal{
          modal-header{
            h2{margin: 5px 1%;}
          }
          .prgLang{width: 25%;height: 40px;padding-left: 10px;margin: 1%;border-radius: 5px; }
          label{width: 100%; margin: 10px 10px 0px 10px;}
          #code_container{ border-radius: 5px; margin: 1%; width: 98%;}
          #code_comment{ border-radius: 5px; margin: 1%; width: 98%;}
          .buttons_section{ width: 98%; text-align: end; margin: 1%;
            input{ height: 40px; border-radius: 5px; border: none; margin: 5px 5px; background-color: @msg_buttonBg; color: @msg_msgBoxFont;
              &.cancel{width: 100px;}
              &.submit{width: 180px;}
              &:hover{background-color: @msg_buttonBgHover;}
            }
          }
        }

        &#fileModal{
          modal-header{
            h2{margin: 5px 1%;}
          }
          form{
            button{width: 100%;margin: 5px;height: 40px;  background-color: @msg_buttonBg; color: @msg_msgBoxFont;
              &:hover{background-color: @msg_buttonBgHover;}
            }
          }
          .scroll{ overflow-y: scroll; height: auto;
            ul{ list-style: none; padding: 5px;
              li{ border: 1px solid @msg_modalBorder; display: flex; padding: 5px 0px; margin: 5px 0px;
                &:hover{ background-color: @msg_listHover;  cursor: pointer;}
                .file-img{ padding: 0 2% 0 2%; float: left;
                  div{width: 50px; padding: 2%; height: 50px; background-position: center; background-size: cover;}
                }
                .content{ width: 70%;
                  p{}
                }
                .upload_date{
                  p{ width: 26%;padding-top: 13px; text-align: end; color: @msg_dataLabel;}
                }
              }
            }
          }
          modal-footer{
            .buttons_section{ width: 98%; text-align: end; margin: 1%;
              input{ height: 40px; border-radius: 5px; border: none; margin: 5px 5px; background-color: @msg_buttonBg; color: @msg_msgBoxFont;
                &.cancel{width: 100px;}
                &.submit{width: 180px;}
                &:hover{background-color: @msg_buttonBgHover;}
              }
            }
          }
        }
      }
    }
  }
}

/*--- (media) Responsive style -----------------------*/

@media (max-width: 1272px){

}

@media (max-width: 768px){
  .navbar-collapse{
    ul, a{text-align: center;}
    .form-group{width: 75%;  float: left; margin-right: 2%;}
  }
  section.messages .messages-block .message_body modal{
    .prgLang{width: 98%}
  }


}

@media (max-width: 620px) {
  .custom-col-friends-list{width: 100%; }
  .custom-col-messages-block{width: 100%; margin-top: 5%;}
}

@media (max-width: 480px){
  .custom-col-friends-list{width: 100%;}
  .custom-col-messages-block{width: 100%;}

  .navbar-collapse{
    .form-group{width: 100%;}
    button{width: 100%;}
  }
  section.messages .messages-block .message_body{
    modal{
      .buttons_section{
        input{
          &.cancel{width: 100%;}
          &.submit{width: 100%;}
        }
      }
    }
    .scroll {
      max-height: 300px!important;
    }
  }
  section.messages .messages-block .message_header .username { width: 65%;
    p { padding: 10px 15px; }
  }

}

@media (max-width: 340px){
  .custom-col-friends-list{width: 100%; margin-left: 0; margin-right: 0; }
  .custom-col-messages-block{width: 100%;}

  section.messages .messages-block .message_body{
    .scroll { max-height: 300px!important; }
    .input-text form input[type='submit']{ width: 20%;}
  }
}

/*--- END (media) Responsive style -----------------------*/
